.card-detail{
    .card-title{
        font-weight: 600;
        margin-bottom: 10px;
    }
    .item-detail{
        width: 100%;
        span{
            margin: 0;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
        }
        p{
            margin: 0;
            width: 100%;
        }
        .background-divider{
            position: relative;
        }
    }
}