<div fxLayout="row wrap" class="general-container">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          
      <mat-card class="mat-card-root">
          <mat-card-content class="mat-card-content-root">
              <br>
                <button class="custom__btn custom__btn--primary" (click)="downloadCsvFile()">Descargar formato</button>
              <br>
              <!-- contenedor subir formato  -->
                <div>
                  <mat-card-title class="m-t-20">Cargar Formato Preguntas y Respuestas</mat-card-title>
               
                      <mat-card-content>
                        <mat-label>Seleccione un archivo .csv</mat-label>

                        <div fxLayout="column" class="upload-file-wrapper m-t-20">
                          <span class="ti ti-upload"></span>
                          <label class="m-r-20" *ngIf="file_name == ''; else fileUploadName">Seleccione o arrastre un archivo</label>
                          <ng-template #fileUploadName>
                            <label class="m-r-20">{{file_name}}</label>
                          </ng-template>
                          <input type="file" #inputFile (change)="uploadCsvFile($event)">
                        </div>
                      </mat-card-content>
                  
                  <button class="custom__btn custom__btn--accept" (click)="sendCsvFile()">Cargar formato</button>
                </div>

              <br>
              <br>

              <mat-card-title>Carga Masiva Preguntas y Respuestas</mat-card-title>
              <br>

              <div class="container-filter">
                  <div class="element-filter element-filter-2">
                      <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda">
                          <mat-icon class="search-icon">search</mat-icon>
                      </mat-form-field>
                  </div>
                  <div class="element-filter element-filter-2">
                      <mat-form-field>
                          <mat-label>Estado</mat-label>
                          <mat-select name="estado" (selectionChange)="filterData($event)">
                              <mat-option value="todos">Todos</mat-option>
                              <mat-option *ngFor="let i of estados_pregunta" [value]="i.nombre">{{i.nombre}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
              </div>

              <div class="responsive-table">
                <div class="container-table">
                    <mat-table [dataSource]="dataSource" matSort>
                        <!-- ID Column -->
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:25%;"> Pregunta </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:25%;"> {{row.Pregunta}} </mat-cell>
                        </ng-container>
    
                        <!-- Name Column -->
                        <ng-container matColumnDef="user_id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:25%;"> Correo usuario creador </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:25%;"> {{row.Correo_usuario_creador}} </mat-cell>
                        </ng-container>
    
                        <!-- Name Column -->
                        <ng-container matColumnDef="create_date">
                          <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:25%;"> Fecha creación </mat-header-cell>
                          <mat-cell *matCellDef="let row" style="max-width:25%;"> {{row.Fecha_creacion}} </mat-cell>
                        </ng-container>
    
                        <!-- Name Column -->
                        <ng-container matColumnDef="state_id">
                          <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:10%;"> Estado </mat-header-cell>
                          <mat-cell *matCellDef="let row" style="max-width:10%;"> {{row.Estado}} </mat-cell>
                        </ng-container>
    
                        <ng-container matColumnDef="details">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:10%;"> Detalles </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:10%;">
                                <i class="ti-info warning-color m-r-10 mouse-over" (click)="moreInfo(row)"></i>
                            </mat-cell>
                        </ng-container>
    
                        <ng-container matColumnDef="create">
                          <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:10%;"> Creado con exito </mat-header-cell>
                          <mat-cell *matCellDef="let row" style="max-width:10%;text-align: center;">
                              <i *ngIf="isEmptyObject(row.errors)" class="ti-check success-color m-r-10 mouse-over"></i>
                              <i *ngIf="!isEmptyObject(row.errors)" class="ti-close danger-color m-r-10 mouse-over"></i>
                              <!-- ti-close -->
                          </mat-cell>
                        </ng-container>
    
                        <ng-container matColumnDef="errors">
                          <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:10%;"> Errores </mat-header-cell>
                          <mat-cell *matCellDef="let row" style="max-width:10%;">
                              <i *ngIf="!isEmptyObject(row.errors)" class="ti-help info-color m-r-10 mouse-over" (click)="showErrors(row)"></i>
                          </mat-cell>
                        </ng-container>
    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="p-t-20" *ngIf="loading">
                  <mat-progress-spinner class="loading-spinner-button" color="basic" [mode]="'indeterminate'" [diameter]="36"></mat-progress-spinner>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

              </div>
          </mat-card-content>
      </mat-card>
  </div>
  
</div>

