<div class="container-chat">
  <div *ngIf="!chat.expert_chat" class="container" [ngClass]="{'is-recording': is_recording}">
      <div fxLayout="row" layout-align="none center">
        <h3>{{chat.nombre}} </h3>
        <button [matMenuTriggerFor]="them" mat-icon-button class="ml-1 options-chat" *ngIf="chat.id_estado_conversacion!=7">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #them="matMenu" x-position="before">
          <button mat-menu-item (click)="descargarChat(chat)">Descargar Chat</button>
        </mat-menu>
      </div>
      <perfect-scrollbar class="contenedor">
        <div class="list-messages">
          <div class="message" *ngFor="let message of chat.mensajes" [ngClass]="{'odd': message.id_usuario_envia!==chat.idtbl_usuario,'even': message.id_usuario_envia===chat.idtbl_usuario}">
            <div class="chat-block">
              <div *ngIf="message.es_archivo != 1 || message.es_nota_voz != 1">{{decodeText(message.texto)}}</div>

              <div *ngIf="message.es_archivo == 1">
                <a [href]="message.url" target="_blank">
                  <img [src]="message.url" *ngIf="message.tipo_archivo==1" />
                </a>
                <video [src]="message.url" controls *ngIf="message.tipo_archivo==2"></video>
                <div *ngIf="message.tipo_archivo==3" class="archivo-defecto"><a [href]="message.url"
                    target="_blank">
                    <mat-icon>attach_file</mat-icon>
                    {{message.nombre_archivo}}
                    <span *ngIf="!message.nombre_archivo">Descargar Adjuntos</span>
                  </a></div>
              </div>

              <div *ngIf="message.es_nota_voz == 1">
                <div class="reproductor-audio" *ngIf="message.audio && message.audioControls">
                  <button mat-icon-button (click)="toggleAudio(chat,message)">
                    <mat-icon *ngIf="!message.audioControls.reproduciendo">play_arrow</mat-icon>
                    <mat-icon *ngIf="message.audioControls.reproduciendo">pause</mat-icon>
                  </button>
                  <mat-slider [max]="message.audioControls.max" [min]="message.audioControls.min" [step]="1"
                    [(ngModel)]="message.audioControls.segundo" (change)="cambiarSegundoAudio(m)">
                  </mat-slider>
                  <div class="tiempo-audio"><span>{{message.audioControls.segundo | minuteSeconds}}</span>
                  </div>
                </div>
              </div>

            </div>
            <span class="foto-mensaje" *ngIf="message.url_imagen_gsuite">
              <img src="{{message.url_imagen_gsuite}}" class="img-circle" width="40" title="{{message.nombre}}" *ngIf="message.id_usuario_envia!==chat.idtbl_usuario">
            </span>
            <div class="chat-date" *ngIf="message.muestra_hora">{{message.fecha_envio | MomentDate:'MMM DD YYYY, h:mm:ss a'}}</div>
          </div>
          <p class="no-message" *ngIf="is_empty_messages">No se han encontrado mensajes en este chat.</p>
        </div>
      </perfect-scrollbar>

      <div class="recording-url" *ngIf="is_recording">
        <h4>Url Grabación</h4>
          <div class="text-url" *ngFor="let url of recording_url" [innerHTML]="url | linkify | replaceEmojisMensaje:'google' | safe:'html'"></div>
      </div>

      <a class="custom__btn custom__btn--accept m-b-10" (click)="closeDialog()">Aceptar</a>
      <mat-progress-spinner *ngIf="loading" class="loading-chat-button" color="basic" [mode]="'indeterminate'" [diameter]="36"></mat-progress-spinner>
  </div>
  
  <div *ngIf="chat.expert_chat && !chat.mostrar_encuesta" class="container container-new-chat" [ngClass]="{'is-recording': is_recording}">
    <div fxLayout="row" layout-align="none center">
      <h3>{{chat.nombre}} </h3>
      <button [matMenuTriggerFor]="them" mat-icon-button class="ml-1 options-chat">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #them="matMenu" x-position="before">
        <button mat-menu-item (click)="cerrarChat(chat)">Cerrar Chat</button>
      </mat-menu>
    </div>
    
    <perfect-scrollbar class="contenedor" [attr.data-conversacion-id]="chat.codigo" [config]="config" #scroll (psYReachEnd)="onReachEnd()">
      <div  class="list-messages">
        <div class="panel-buscador-texto" *ngIf="chat.buscando_texto">
          <div class="contenido-buscador">
            <input type="text" placeholder="Buscar en la conversación" autofocus
              [formControl]="chat.texto_busqueda_mensajes" />
            <div class="cant-matches">{{chat.cant_coincidencias}}</div>
            <button mat-icon-button title="Cerrar" (click)="chat.buscando_texto=false">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div class="message" *ngFor="let message of chat.mensajes" 
                              [ngClass]="{'odd': message.id_usuario_envia!==chat.idtbl_usuario,'even': message.id_usuario_envia===chat.idtbl_usuario || message.id_usuario===chat.idtbl_usuario}">
          
          <div class="chat-block" [ngClass]="{'encontrado':message.encontrado && chat.buscando_texto}">
            <div *ngIf="!message.es_archivo || !message.es_nota_voz"
              [innerHTML]="decodeText(message.texto) | linkify | replaceEmojisMensaje:'google' | safe:'html'"> </div>
            <div class="contendor-archivo" *ngIf="message.es_archivo || message.es_nota_voz">
              <div *ngIf="message.es_archivo">
                <a [href]="message.url" target="_blank">
                  <img [src]="message.url" *ngIf="message.tipo_archivo==1" />
                </a>
                <video [src]="message.url" controls *ngIf="message.tipo_archivo==2"></video>
                <div *ngIf="message.tipo_archivo==3" class="archivo-defecto"><a [href]="message.url"
                    target="_blank">
                    <mat-icon>attach_file</mat-icon>
                    {{message.nombre_archivo}}
                    <span *ngIf="!message.nombre_archivo">Descargar Adjuntos</span>
                  </a></div>
              </div>
              <div *ngIf="message.es_nota_voz">
                <div class="reproductor-audio" *ngIf="message.audio && message.audioControls">
                  <button mat-icon-button (click)="toggleAudio(chat,message)">
                    <mat-icon *ngIf="!message.audioControls.reproduciendo">play_arrow</mat-icon>
                    <mat-icon *ngIf="message.audioControls.reproduciendo">pause</mat-icon>
                  </button>
                  <mat-slider [max]="message.audioControls.max" [min]="message.audioControls.min" [step]="1"
                    [(ngModel)]="message.audioControls.segundo" (change)="cambiarSegundoAudio(m)">
                  </mat-slider>
                  <div class="tiempo-audio"><span>{{message.audioControls.segundo | minuteSeconds}}</span>

                  </div>

                </div>
              </div>
            </div>
            
              
            <span *ngIf="message.id_usuario==chat.idtbl_usuario">
              <mat-icon class="icono-burbuja-mensaje" *ngIf="message.estado==2">done</mat-icon>
            </span>
          </div>
          <span class="foto-mensaje" *ngIf="message.id_usuario_envia!==chat.idtbl_usuario && message.url_imagen_gsuite">
            <img src="{{message.url_imagen_gsuite}}" class="img-circle" width="40"
              title="{{message.nombre}}">
          </span>
          <div class="chat-date" *ngIf="message.mensaje_antiguo && message.muestra_hora">{{message.fecha_envio | MomentDate:'MMM DD YYYY, h:mm:ss a'}}</div>
          <div class="chat-date" *ngIf="!message.mensaje_antiguo">{{message.fecha_mensaje | MomentDate:'h:mm a' }}</div>
        </div>
      </div>
      <div *ngIf="chat.archivo_adjunto" class="archivo-adjunto">
        <div class="contenedor-adjunto">
          <div class="boton-cerrar">
            <button mat-icon-button color="basic" class=""
              (click)="quitarArchivoAdjunto(chat,adjuntos)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <img [src]="chat.archivo_adjunto.url" *ngIf="chat.archivo_adjunto.tipo_archivo==1" />
          <video [src]="chat.archivo_adjunto.url" *ngIf="chat.archivo_adjunto.tipo_archivo==2"></video>
          <div *ngIf="chat.archivo_adjunto.tipo_archivo==3" class="archivo-defecto"><a
              [href]="chat.archivo_adjunto.url" target="_blank">
              <mat-icon>attach_file</mat-icon>
              {{chat.archivo_adjunto.name}}
            </a></div>
          <button mat-icon-button color="basic" class="boton-enviar"
            (click)="enviarMensaje(chat,2,null,null,scroll)">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="chat.grabando_nota" class="ventana-grabacion-nota">
        <div class="contenedor-adjunto">
          <div class="boton-cerrar">
            <button mat-icon-button color="basic" class="" (click)="quitarNotaVoz(chat)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <button mat-icon-button color="basic" class="boton-mic">
            <mat-icon>mic</mat-icon>
          </button>
          <div class="cuenta-regresiva">
            <div>{{chat.cuenta_regresiva}}</div>
            <div>
              <button mat-icon-button color="basic" class="boton-enviar"
                (click)="enviarNota(chat,este)">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </perfect-scrollbar>

    <div *ngIf="ocultar_ultimos_mensajes" class="boton-nuevos-mensajes"><button mat-raised-button
      (click)="verNuevosMensajes()" color="basic">Ir al último mensaje</button></div>

    <mat-card-actions class="chat-footer acciones-chat">

        <mat-progress-bar mode="indeterminate" *ngIf="chat.cargando_archivo"></mat-progress-bar>
        <div fxLayout="row" layout-align="start center">
          <button mat-icon-button color="primary" (click)="toggleEmojis(chat)">
            <mat-icon aria-label="Example icon-button with a heart icon">tag_faces</mat-icon>
          </button>
          <textarea autosize class="input-mensaje" placeholder="Envía un mensaje" [minHeight]="30"
          (keydown.enter)="enviarMensaje(chat,1,null,$event,este)"
          (keydown.control.f)="buscarTexto(chat,$event,search)" (keyup)="remplazaEmoji(chat)"
          [(ngModel)]="chat.texto_mensaje" (focus)="setFocus(chat,true)"
          (blur)="setFocus(chat,false)"></textarea>
          <button mat-icon-button color="primary" (click)="adjuntos.click()"
            [disabled]="chat.cargando_archivo || chat.grabando_nota || chat.archivo_adjunto">
            <mat-icon aria-label="Example icon-button with a heart icon">add_photo_alternate</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="grabarNotaVoz(chat,este)"
            [disabled]="chat.cargando_archivo || chat.grabando_nota  || chat.archivo_adjunto">
            <mat-icon aria-label="Example icon-button with a heart icon">mic</mat-icon>
          </button>
        </div>
      </mat-card-actions>
      <form [hidden]="true" #formulario method="POST" enctype="multipart/form-data" [action]="urlAdjuntos">
        <input type="file" (change)="adjuntarArchivo(chat,$event,formulario,adjuntos)" #adjuntos />
      </form>

      <emoji-mart set="google" sheetSize="64" class="emojis-panel" perLine="6" *ngIf="chat.mostrar_emojis"
        showPreview="false" (emojiSelect)="seleccionarEmoji($event,chat)"
        [i18n]="{ search: 'Buscar', categories: { search: 'resultados de la búsqueda', recent: 'Recientes' } }">
      </emoji-mart>

      <div class="recording-url" *ngIf="is_recording">
        <h4>Url Grabación</h4>
          <div class="text-url" *ngFor="let url of recording_url" [innerHTML]="url | linkify | replaceEmojisMensaje:'google' | safe:'html'"></div>
      </div>
  </div>
  

  <div *ngIf="chat.expert_chat && chat.mostrar_encuesta">
    <app-visualizar-encuesta [tipo]="'2'" [chat]="chat" (onfinish)="finalizaEncuesta(chat)">
    </app-visualizar-encuesta>
  </div>

</div>

