.flotante {
    position: relative;
    width: 100%;
    pointer-events: none;

    .content {
        position: fixed;
        bottom: 0px;
        right: 0px;
        z-index: 100;
        pointer-events: none;
    }
}

.mat-drawer-content {
    overflow: hidden;
}

.componente-pequeno {
    position: absolute;
    bottom: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    padding: 0px 13px !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    right: 0px;
    height: 36px !important;
    padding: 0;
    border-bottom: 1px solid #e4e4e4;
    color: #888888;
    cursor: pointer;
    width: 262px;
    background: white;
    pointer-events: all;

    .nombre-asesor {
        flex: 1;
        width: 100%;
        height: 35px;
        display: flex;
        flex-direction: row;
        white-space: nowrap;

        span {
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            padding: 10px 6px;
            flex: 1;
        }
    }

    .icono-mensaje {
        position: relative;
        top: 8px;
        margin: 0 4px;
    }

    &.mensajes-nuevos {
        animation: titila 4s infinite;
    }

}

.contenedores-chat {
    width: 100%;
    position: relative;
    bottom: 0px;
    right: 0px;
    padding-right: 10px;
    pointer-events: none;
    display: flex;

    .panel-chat {
        width: 262px;
        height: 380px;
        float: right;
        position: relative;
        bottom: 0px;
        transition: all .5s linear;
        pointer-events: none;
        margin: auto;
        margin-right: 5px;
        margin-bottom: 0;

        &.agrandado {
            width: 600px !important;
            height: 458px !important;

            .icono-agrandar {
                transform: rotate(90deg);
            }

            &.minimizado {
                width: 262px !important;
                height: 50px !important;
            }
        }

        &.minimizado {
            /*height: 36px !important;*/
            transition: none !important;

            .contenedor-grande {
                height: 0px !important;
            }

            .mat-card-top {

                background: none;
                box-shadow: none !important;

            }

            .ventana-chat {
                display: none;
            }
        }

        .subpanel {
            position: absolute;
            bottom: 0px;
            height: 100%;
            width: 100%;
            pointer-events: none;

            .hijo {
                height: 100%;
                pointer-events: none;

                .mat-card-top {
                    height: 100%;
                    background: none;
                    box-shadow: none !important;
                    pointer-events: none;

                    .ventana-chat {
                        height: 100%;
                        pointer-events: all;
                    }
                }
            }
        }

        .ventana-chat {
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-family: Roboto, "Helvetica Neue", sans-serif !important;

            .barra-superior {
                height: 36px !important;
                padding: 0;
                border-bottom: 1px solid #e4e4e4;
                color: #888888;
                cursor: pointer;

                .icono-agrandar {
                    transition: all .5s linear;
                }

                .nombre-asesor {
                    flex: 1;
                    display: inline-block;
                    width: calc(100% - 78px);
                    height: 35px;
                    display: flex;
                    flex-direction: row;

                    span {
                        text-overflow: ellipsis;
                        display: inline-block;
                        overflow: hidden;
                        padding-top: 3px;
                        flex: 1;
                    }
                }

                .icono-mensaje {
                    position: relative;
                    top: 8px;
                    margin: 0 4px;
                }

                &.mensajes-nuevos {
                    animation: titila 4s infinite;
                }
            }

            .contenedor-grande {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            .contenedor-mensajes {
                height: calc(100% - 79px);
                padding: 0;
                overflow: hidden;
                width: 100%;
                flex: 0 1 auto;

                .contenedor {
                    height: 100%;

                    .chat-list {
                        padding: 0 3px;
                        margin-top: 5px;
                        margin-bottom: 0;
                        padding-right: 11px;

                        .chat-message {
                            width: 100%;
                            position: relative;
                        }

                        .chat-block {
                            font-size: 13px;
                        }

                        &.even {
                            .chat-block {
                                text-align: left !important;
                                display: inline-block;
                                padding: 3px 8px;
                                padding-right: 23px;
                                padding-bottom: 4px;
                                position: relative;
                                max-width: 88%;
                            }

                        }


                        .foto-mensaje {
                            position: absolute;
                            bottom: 15px;

                            img {
                                width: 30px;
                                margin-left: 3px;
                            }
                        }

                        &.odd {
                            .chat-block {
                                background-color: #dcdcdc;
                                text-align: left !important;
                                max-width: 80%;
                                display: inline-block;
                                padding: 3px 8px;
                                position: relative;
                            }
                        }

                        .chat-date {
                            width: 100%;
                            font-size: 11px;
                        }
                    }
                }
            }

            .acciones-chat {
                padding: 1px !important;
                bottom: 0;
                width: 100%;
                position: absolute;

                /*border: 1px solid transparent;
                border-top: 1px solid rgba(120, 130, 140, 0.13);
                border-left: 1px solid rgba(120, 130, 140, 0.13);
                */
                .star.center {
                    width: 100%;
                }

                .input-mensaje {
                    resize: none;
                    //overflow: auto;
                    padding: 0;
                    margin-top: 6px;
                    font-family: Roboto, "Helvetica Neue", sans-serif !important;
                    padding-top: 6px;
                    margin-left: 5px;
                    border: none;
                    flex: 1;
                    height: 22px;

                    &>div {
                        display: block;
                        height: auto;
                    }
                }
            }

            .panel-buscando-experto {

                height: 100%;

                .barra-buscando {
                    height: 56px;

                    .titulo-buscando {
                        text-align: center;
                        font-size: 16px;
                        width: 100%;
                        white-space: normal;
                        line-height: 1.2;
                    }
                }

                .loading-gif {
                    display: flex;
                    height: calc(100% - 92px);

                    img {
                        margin: auto;
                        width: 100%;
                        max-width: 262px;
                    }
                }

                .no-filas {
                    padding: 15px;
                    color: #adadad;
                }
            }

            .contenedor-encuesta {
                height: 100%;
            }
        }
    }

    .mat-card {
        margin: 0;
    }
}

.boton-abrir-chat {
    position: absolute;
    bottom: 15px;
    left: -68px;
}

.mat-icon-button {
    width: 26px;
}

@media only screen and (max-width: 768px) {

    .mat-icon-button {
        width: 26px;
    }
}