<div class="general-container">
    <mat-card class="mat-card-root">
        <mat-card-content class="mat-card-content-root">
            <div class="contenedor">
                <div class="responsive-table">
                    
                    <br>
                    <a class="custom__btn custom__btn--primary" [routerLink]="['/formulario-productos']"><mat-icon>add</mat-icon> Ingresar Categoria</a>
                    <br>
                    <br>
                    
                    <div class="container-filter">
                        <div class="element-filter element-filter-1">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda">
                                <mat-icon class="search-icon">search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="container-table">
                        <mat-table [dataSource]="dataSource" matSort>
                
                            <!-- ID Column -->
                            <ng-container matColumnDef="idtbl_producto">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:10%;"> ID </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="max-width:10%;"> {{row.idtbl_producto}} </mat-cell>
                            </ng-container>
                    
                            <!-- Progress Column -->
                            <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:20%;"> Nombre </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="max-width:20%;"> {{row.nombre}} </mat-cell>
                            </ng-container>
        
                            <ng-container matColumnDef="arbol">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:45%;"> Arbol </mat-header-cell>
                                    <mat-cell *matCellDef="let row" style="max-width:45%;"> {{row.familia}} </mat-cell>
                                </ng-container>
                    
                            <ng-container matColumnDef="nombre_icono">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:10%;"> Icono </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="max-width:10%;"><mat-icon class="icon">{{row.nombre_icono}}</mat-icon></mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="acciones">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;"> Acciones </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="max-width:15%;">
                                    <i class="ti-pencil info-color m-r-10 mouse-over" (click)="editarRegistro(row)"></i>
                                    <i class="ti-trash danger-color m-r-10 mouse-over" title="Eliminar Producto" (click)="eliminarProducto(row)"></i>
                                </mat-cell>
                            </ng-container>
                    
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
                </div>
                </div>
        </mat-card-content>
    </mat-card>
</div>


