<div class="contenedor">
  <audio src="../../../assets/sounds/message.mp3" preload="auto" (loadeddata)="asignarAudioMensaje(mensajeAudio,1)"
    #mensajeAudio></audio>
  <audio src="../../../assets/sounds/cliente.wav" preload="auto" (loadeddata)="asignarAudioMensaje(clienteAudio,2)"
    #clienteAudio></audio>
  <audio src="../../../assets/sounds/alarma.wav" preload="auto" (loadeddata)="asignarAudioMensaje(sosAudio,3)"
    #sosAudio></audio>
    <audio src="../../../assets/sounds/notificacion.mp3" preload="auto" (loadeddata)="asignarAudioMensaje(notificationAudio,4)"
    #notificationAudio></audio>
</div>