<div class="general-container">
  <mat-card *ngIf="create_state" class="mat-card-root">
    <mat-card-content class="mat-card-content-root">
      <mat-card-title>Crear Estados de Inactividad Experto</mat-card-title>
      <div fxLayaout="100">
        <form class="m-t-20" >
          <mat-form-field>
            <mat-label>Digite el nombre del estado</mat-label>
            <input matInput [(ngModel)]="states.nombre" name="estado" autocomplete="off"/>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Se puede modificar</mat-label>
            <mat-select name="modificar" (selectionChange)="onChangeState($event)">
              <mat-option value="Si">Si</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>
  
          <div fxLayout="row wrap">
            <div fxFlex="25" fxLayoutAlign="space-between center" class="responsive-btn">
              <button fxFlex="45" class="custom__btn custom__btn--accept"
                (click)="createState()">Crear</button> 
              <button fxFlex="45" class="custom__btn custom__btn--cancel"
                (click)="create_state=!create_state">Cancelar</button>
            </div>
          </div>
        </form>
  
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card-root">
    <mat-card-content class="mat-card-content-root">
      <div class="botones m-b-20" *ngIf="!create_state">
        <button class="custom__btn custom__btn--primary" (click)="create_state=!create_state">
          <mat-icon>add</mat-icon> Crear Estado Inactividad
        </button>
      </div>
      
      <div class="container-filter">
        <div class="element-filter element-filter-2">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda">
                <mat-icon class="search-icon">search</mat-icon>
            </mat-form-field>
        </div>
        <div class="element-filter element-filter-2">
          <mat-form-field>
              <mat-label>Es modificable</mat-label>
              <mat-select name="estado" (selectionChange)="filterData('es_modificable', $event)">
                  <mat-option value="todos">Todos</mat-option>
                  <mat-option value="Si">Si</mat-option>
                  <mat-option value="No">No</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <div class="responsive-table">
        <mat-table [dataSource]="dataSource" matSort>
  
          <!-- Progress Column -->
          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <div *ngIf="!row.update&&row.es_modificable!='No'">
                <i class="ti-pencil info-color m-r-10 mouse-over" (click)="row.update=true"></i>
                <i class="ti-trash danger-color m-r-10 mouse-over" (click)="inactiveState(row)"></i>
              </div>
              <div *ngIf="row.update">
                <i class="ti-save success-color m-r-10 mouse-over" (click)="updateState(row)"></i>
                <i class="ti-close danger-color m-r-10 mouse-over" (click)="row.update=false;row.is_edit_timeout=false;"></i>
              </div>
            </mat-cell>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre estado </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="!row.update">{{row.nombre}}</span>
              <mat-form-field *ngIf="row.update">
                  <input matInput type="text" name="nombre" [(ngModel)]="row.nombre" autocomplete="off">
              </mat-form-field>
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="es_modificable">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Es modificable </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="!row.update">{{row.es_modificable}}</span>
              <mat-form-field *ngIf="row.update">
                <mat-label>Se puede modificar</mat-label>
                <mat-select name="modificar" (selectionChange)="onChangeState($event)">
                  <mat-option value="Si">Si</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
  
        <mat-paginator [pageSizeOptions]="[7, 15, 25, 100]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
