.checkbox {
    margin-right: 10px;
}

.elementos-seleccionados {
    text-align: center;
}

.elementos {
    display: inline-block !important;
    margin-bottom: 10px;
}

.icon-close {
    color: red;
}

.chip {
    background-color: #3f51b5;
}

.opcion-seleccionar-todos {
    margin-left: 25px;
    margin-top: 15px;
}

.spinner-cargando-flujo {
    display: flex;
    margin-top: 20px;

    .mat-progress-spinner {
        margin: auto;
    }
}