<div id="DIV_1">
    <h1 id="H1_2">
      <div id="DIV_3">
        <img src="https://ssl.gstatic.com/images/branding/googleg/2x/googleg_standard_color_64dp.png" id="IMG_4" alt='' />
      </div>
      <div id="DIV_5">
        How can we help you?
      </div>
    </h1>
    <form action="/search?hl=en" id="FORM_6">
      <input placeholder="Describe your issue" name="q" type="search" id="INPUT_7" />
      <input name="from_promoted_search" type="hidden" value="true" id="INPUT_8" />
      <button id="BUTTON_9">
      </button>
      <svg id="svg_10">
        <path id="path_11">
        </path>
        <path id="path_12">
        </path>
      </svg>
      <button id="BUTTON_13">
      </button>
      <svg id="svg_14">
        <path id="path_15">
        </path>
      </svg>
    </form>
  </div>