.contendor-principal {
    padding: 16px;
    .mat-card {
        padding: 15px !important;
        margin: 0 !important;
    }

    .responsive-table {
        .mat-form-field {
            margin-top: 16px !important;
        }

    }

}