<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 logo-conecta">
      <div class="login100-form validate-form">

        <span class="">
          <img src="/assets/images/logo.png" alt="CONECTA by Google" class="img_small">
        </span>

        <p class="m-t-10  slogan-conecta san-serif" style="text-align: center;">
          Herramienta de autogestión para el soporte interno del Banco Davivienda
        </p>

        <div class="iconos">
          <img src="/assets/images/iconos-homepage/1.png" />
          <img src="/assets/images/iconos-homepage/2.png" />
          <img src="/assets/images/iconos-homepage/3.png" class="tres" />
          <img src="/assets/images/iconos-homepage/4.png" class="cuatro" />
          <img src="/assets/images/iconos-homepage/5.png" />
        </div>


        <div class="container-login100-form-btn m-t-40">
          <button class="login100-form-btn san-serif" [routerLink]="['/login']">
            Ingresa Aquí
          </button>
        </div>

        <p class="login-more p-t-100" style="text-align: center;">
          <a href="/assets/politicas.pdf" target="_blank" class="txt2 san-serif">Política de Privacidad</a>
        </p>
      </div>
    </div>
  </div>
</div>