<mat-nav-list appAccordion>
    <img src="assets/images/Conecta-Soporte.png" alt="conecta_logo" class="img_conecta">
    <div class="contenedor__sidebar">
        <div>
            <ul>
                <li>Preguntas y respuestas</li>
                <li>Conecta gestión</li>
                <li>Mis chat</li>
                <li (click)="irPregunta()">Administrador de Preguntas</li>
            </ul>
        </div>
        <div class="sidebar_mt">
            <ul>
                <li><a href="">Configuración</a> <i class="fa fa-cog side_gear" aria-hidden="true"></i></li>
                <li><a href="">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</mat-nav-list>