<mat-nav-list class="contenedor-menu">
    <div class="opciones-menu">
        <perfect-scrollbar>
            <div class="contenedor__sidebar">
                <div>
                    <ul>


                        <li *ngFor="let i of modulos" (click)="cerrarMenu()" class="menu-link">
                            <a [routerLink]="['/'+i.url]" [routerLinkActive]="['active']"
                                (click)="cerrarMenu()">{{i.nombre_mostrar}}</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/forms/d/1IzKM1oBhxS8H076a-ZctlRftxDzkW6Yysq0KscWh40E/viewform?edit_requested=true">Buzón
                                de Sugerencias</a></li>
                        <li *ngFor="let i of nuevas_urls" (click)="cerrarMenu()" class="menu-link">
                            <a href="{{i.url}}" target="_blank" (click)="cerrarMenu()">{{i.label}} <mat-icon>open_in_new
                                </mat-icon></a>
                        </li>
                    </ul>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
    <mat-divider></mat-divider>
    <div class="sidebar_mt">
        <ul>
            <li (click)="deslogueo()"><a>Cerrar sesión</a></li>
        </ul>
    </div>
</mat-nav-list>