.contenedor__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -40px;
    ul {
      li {
        transition: all ease 0.5s;
        margin: 10px 0;
        a {
            font-size: 14px;
            width: 100%;
            display: block;
            padding-left: 20px;
            position: relative;
            &:hover {
                color: #1e88e5;
            }
            &.active{
                text-transform: capitalize;
                font-size: 16px;
                padding: 10px 5px;
                border: 1px solid rgba(30, 136, 229, 0.4);
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06), 0 7px 10px -5px rgba(30, 136, 229, 0.08);
                color: #1e88e5;
                margin: 15px 0;
                padding-left: 25px;
                padding-right: 10px;
                &:after{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: -1px;
                    width: 8px;
                    height: 100%;
                    background-color: #1e88e5;
                    border: 1px solid rgba(30, 136, 229, 0.4);
                    z-index: 9;
                }
            }
        }
      }
    }
  }