<div class="boton-centrado">
  <h3>Emergencia</h3>
  <img src="../../../../assets/images/sos.png" alt="" class="sos">
</div>
<div *ngIf="data.exito">
  <p>Por favor presiona el botón "Aceptar" cuando tu emergencia haya sido atendida</p>
  <div class="boton-centrado">
    <button class="custom__btn custom__btn--accept m-r-20" [disabled]="!puede_cerrar_sos"
      (click)="cerrarEmergencia()">Aceptar</button>
  </div>
</div>
<div *ngIf="!data.exito">
  <p>Actualmente no hay un operador que pueda atender tu emergencia.</p>
  <div class="boton-centrado">
    <button class="custom__btn custom__btn--accept m-r-20" [disabled]="!puede_cerrar_sos"
      (click)="cerrarEmergencia()">Entendido</button>
  </div>
</div>