.footer-barra {
    border-top: 1px solid #dadada;
    color: #a9a9a9;
    font-size: 14px !important;
    text-align: center;
    height: 64px;

    .content-footer {
        text-align: center;

        div {
            width: 100%;

        }
    }

    a {
        color: #3f4ec0 !important;
    }
}