<mat-card>  
  <mat-card-content>
      <h3>{{encuesta.nombre}}</h3>
      <div class="row wrap">
        <span matBadge="1" matBadgeOverlap="false" fxFlex.gt-sm="2" fxFlex="100"></span>
        <span matBadge="2" matBadgeOverlap="false" fxFlex.gt-sm="2" fxFlex="100"></span>
        <span matBadge="3" matBadgeOverlap="false" fxFlex.gt-sm="2" fxFlex="100"></span>
        <span matBadge="4" matBadgeOverlap="false" fxFlex.gt-sm="2" fxFlex="100"></span>
        <span matBadge="5" matBadgeOverlap="false" fxFlex.gt-sm="2" fxFlex="100"></span>
      </div>
  </mat-card-content>
</mat-card>

