/*mat-card{
    text-align: center;
}*/

.icono-inicial {
    color: #1e88e5;
}

.icono-mano-abajo {
    color: #dd3333;
}

.icono-seleccionado {
    background: #badfff;
}

.icono-manos {
    color: #badfff;
}

.contador {
    margin: auto;
    max-width: 250px;
}

.centrado {
    justify-content: center;
    text-align: center;
    margin: 10px auto !important;
    max-width: 600px;
}

.padre-contador {
    padding: 0 10px;
    margin: 10px 0;
}

.contador-padre {
    display: flex;
    margin-bottom: 5px;

    .hijo {

        margin: auto;
        width: 250px;
        display: flex;
    }
}

.contenedor-encuesta {
    padding: 10px !important;
    justify-content: center !important;
    text-align: center !important;
}

.container-principal {
    /*border: thin solid #dadce0;
    border-radius: .5rem;
    margin: 2.625rem 0 0;*/
    font-size: 12px;
    padding-bottom: 40px;
    h3{
        margin-top: 0;
    }

}

.texto {
    width: 90%;
}

textarea {
    resize: none !important;
}

.boton-calificacion {
    color: white;
    margin-bottom: 10px;
}

.si {
    background-color: #3f51b5;
}

.campo-texto {
    height: 100px;
}

mat-card {
    margin: 0;
    padding: 0;
}

.mat-card-content {
    margin: 0;
    padding: 10px;
}

.conversacion-chat {
    height: 343px;
    overflow-y: scroll;
}

.encuesta {
    height: 100%;
    padding: 0 !important;
    display: flex;
}

