<mat-card>  
  <mat-card-content *ngIf="encuesta">
    <div class="row wrap centrado">
      <div fxFlex.gt-sm="40" fxFlex="100" class="container-principal">
          <h3>{{encuesta.nombre}}</h3>
          <div *ngIf="preguntas.length > 0">
            <div *ngFor="let pregunta of preguntas; let i = index;">
              {{i + 1}}. {{pregunta.enunciado}}

              <div *ngIf="pregunta.id_tipo == 1">
                <br>
                <div class="row wrap">
                  <a *ngFor="let item of arrayOne(pregunta.minimo, pregunta.maximo); let j = index" mat-mini-fab color="basic" class="contador" [ngClass]="{ 'icono-seleccionado': activarBoton(pregunta.respuesta, (j + pregunta.minimo)) }" (click)="agregarRespuesta(i, (j + pregunta.minimo))"> {{ j + pregunta.minimo }} </a>
                </div>
                <br>
              </div>

              <div *ngIf="pregunta.id_tipo == 2">
                <br>
                <div class="row wrap centrado">
                  <a mat-icon-button (click)="agregarRespuesta(i, 1)">
                    <mat-icon [ngClass]="{ 'icono-manos': activarBoton(pregunta.respuesta, 1) }" class="icono-inicial">thumb_up</mat-icon>
                  </a>
                  <a mat-icon-button (click)="agregarRespuesta(i, 0)">
                    <mat-icon [ngClass]="{ 'icono-manos': activarBoton(pregunta.respuesta, 0) }" class="icono-inicial">thumb_down</mat-icon>
                  </a>
                </div>
                <br>
              </div>

              <div *ngIf="pregunta.id_tipo == 3">
                <br>
                <div class="row wrap">
                  <a mat-icon-button (click)="agregarRespuesta(i, 1)">
                    <mat-icon *ngIf="validarEstrellasMayor(pregunta.respuesta, 1)">star</mat-icon>
                    <mat-icon *ngIf="validarEstrellasMenor(pregunta.respuesta, 1)">star_border</mat-icon>
                  </a>
                  <a mat-icon-button (click)="agregarRespuesta(i, 2)">
                    <mat-icon *ngIf="validarEstrellasMayor(pregunta.respuesta, 2)">star</mat-icon>
                    <mat-icon *ngIf="validarEstrellasMenor(pregunta.respuesta, 2)">star_border</mat-icon>
                  </a>
                  <a mat-icon-button (click)="agregarRespuesta(i, 3)">
                    <mat-icon *ngIf="validarEstrellasMayor(pregunta.respuesta, 3)">star</mat-icon>
                    <mat-icon *ngIf="validarEstrellasMenor(pregunta.respuesta, 3)">star_border</mat-icon>
                  </a>
                  <a mat-icon-button (click)="agregarRespuesta(i, 4)">
                    <mat-icon *ngIf="validarEstrellasMayor(pregunta.respuesta, 4)">star</mat-icon>
                    <mat-icon *ngIf="validarEstrellasMenor(pregunta.respuesta, 4)">star_border</mat-icon>
                  </a>
                  <a mat-icon-button (click)="agregarRespuesta(i, 5)">
                    <mat-icon *ngIf="validarEstrellasMayor(pregunta.respuesta, 5)">star</mat-icon>
                    <mat-icon *ngIf="validarEstrellasMenor(pregunta.respuesta, 5)">star_border</mat-icon>
                  </a>
                </div>
                <br>
              </div>
    
              <div *ngIf="pregunta.id_tipo == 4">
                <br>
                <div class="row wrap">
                  <a mat-icon-button [ngClass]="{ 'icono-seleccionado': activarBoton(pregunta.respuesta, 1) }" (click)="agregarRespuesta(i, 1)">
                    ️☹️
                  </a>
                  <a mat-icon-button [ngClass]="{ 'icono-seleccionado': activarBoton(pregunta.respuesta, 2) }" (click)="agregarRespuesta(i, 2)">
                    🙁
                  </a>
                  <a mat-icon-button [ngClass]="{ 'icono-seleccionado': activarBoton(pregunta.respuesta, 3) }" (click)="agregarRespuesta(i, 3)">
                    😐
                  </a>
                  <a mat-icon-button [ngClass]="{ 'icono-seleccionado': activarBoton(pregunta.respuesta, 4) }" (click)="agregarRespuesta(i, 4)">
                    🙂
                  </a>
                  <a mat-icon-button [ngClass]="{ 'icono-seleccionado': activarBoton(pregunta.respuesta, 5) }" (click)="agregarRespuesta(i, 5)">
                    😀
                  </a>
                </div>
                <br>
              </div>

              <div *ngIf="pregunta.id_tipo == 5">
                <br>
                <mat-form-field appearance="outline" class="texto">  
                  <textarea matInput maxlength="{{pregunta.maximo}}" name="notas" [(ngModel)]="pregunta.respuesta_texto"></textarea>
                 </mat-form-field> 
                 <br>
              </div>              
            </div>
            <button class="boton-calificacion si" mat-raised-button (click)="guardarPregunta()">Enviar</button>
          </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

