.example-radio-button {
    padding: 10px;
}

.icon{
    display: contents;
}

.div-iconos{
    height: 200px;
    overflow-y: scroll;
    overflow-x: unset;
}

.no{
    background-color: rgb(221, 51, 51);
}

.boton-calificacion{
    color: white;
    width: 100%;
}

.si{
    background-color: #3f51b5;
}
