

<mat-card>  
  <mat-card-content>
      <h3>Formulario de Experticias</h3>
      <hr>
      <div fxLayout="row wrap">
        <mat-form-field>
          <mat-label>Digite el nombre de la experticia*</mat-label>
          <input matInput [(ngModel)]="expertiz.nombre" name="titulo">
        </mat-form-field>
      </div>
      <h3>Categorías</h3>
      <hr>
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="40" fxFlex="100">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Seleccione la categoria a agregar" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='anadirPreguntaAsociada($event.option.value)'>
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <br>
        </div>
        <div fxFlex.gt-sm="10" fxFlex="100"></div>
        <div fxFlex.gt-sm="40" fxFlex="100" *ngIf = "producto_asociado.length > 0">
          <div class="bg-light p-10 p-r-20 p-l-20">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            </mat-form-field>
        </div>
        <div class="responsive-table">
            
            <mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;"> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="max-width:15%;"> {{row.idtbl_producto}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="categoria">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:70%;"> Categoria </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="max-width:70%;"> {{row.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;"> Estado </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="max-width:15%;">
                        <i class="ti-trash danger-color m-r-10 mouse-over" (click)="borrarElemento(row)"></i>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        </div>
      </div>
      <br>
      <br>
      <div fxLayout="row wrap">
        <div fxFlex="25" fxLayoutAlign="space-between center">
          <button fxFlex="45" class="custom__btn custom__btn--accept" (click)="enviarDato()">Guardar</button>
          <a fxFlex="45" class="custom__btn custom__btn--cancel" (click)="volver()"><span class="texto-boton">Cancelar</span></a>
        </div>
      </div>
  </mat-card-content>
</mat-card>


