.contenedor-principal {
    width: 100%;
    height: 100%;
    min-height: 500px;
    .intencion-chat-lista {
        border: 1px solid #cccccc;
        margin: 4px 0;
        display: flex;
        align-items: center;
        .frase {
            flex: 1;
            padding: 11px;
        }

        .icono-borrar {
            display: none;
        }

        &:hover {
            .icono-borrar {
                display: inline-block;
            }
        }
    }
}

.loading {
    padding: 0px 26px;
    top: 14px;
}