<div class="contenedor-principal general-container">
  <mat-card *ngIf="creando_intencion" class="mat-card-root">
    <mat-card-content class="mat-card-content-root">
      <mat-card-title>Datos Intención</mat-card-title>

      <form class="m-t-20">
        <mat-form-field class="example-full-width">
          <input matInput name="extension" placeholder="Frase que un usuario pueda consultar" value="" maxlength="3900"
            type="text" #extension="ngModel" [(ngModel)]="nueva_intencion.frase" autocomplete="off">

        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Selecciona una categoría" aria-label="Number" matInput
            [formControl]="createControl" [matAutocomplete]="auto" autocomplete="off"/>
          <button mat-button *ngIf="createControl.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="createControl.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='seleccionarCategoriaNueva($event.option.value)'>
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div fxLayout="row wrap">
          <div fxFlex="25" fxLayoutAlign="space-between center" class="responsive-btn">
            <button fxFlex="45" class="custom__btn custom__btn--accept"
              [disabled]="!createControl.value || !nueva_intencion.frase" [ngClass]="{'loading':creando_intencion_xhr}"
              (click)="crearIntencion()">
              <span *ngIf="!creando_intencion_xhr">Crear</span>
              <span *ngIf="creando_intencion_xhr"> </span>
              <mat-progress-spinner class="loading-spinner-button" color="basic" [mode]="'indeterminate'"
                [diameter]="36" *ngIf="creando_intencion_xhr">
              </mat-progress-spinner>
            </button>
            <button fxFlex="45" class="custom__btn custom__btn--cancel"
              (click)="creando_intencion=!creando_intencion">Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card-root">
    <mat-card-content class="mat-card-content-root">
      <br>
      <div class="botones" *ngIf="!creando_intencion">
        <button class="custom__btn custom__btn--primary" (click)="creando_intencion=!creando_intencion">
          <mat-icon>add</mat-icon> Crear Intención
        </button>
      </div>
      <div>
        <mat-form-field class="example-full-width m-t-20">
          <input type="text" placeholder="Selecciona la categoría de experticia" aria-label="Number" matInput
            [formControl]="myControl" [matAutocomplete]="auto" autocomplete="off">
          <button mat-button *ngIf="myControl.value!=null && myControl.value.length>0" matSuffix mat-icon-button aria-label="Clear" (click)="myControl.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='seleccionarCategoria($event.option.value)'>
            <mat-option *ngFor="let option of categorias_filtradas | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div *ngIf="!myControl.value">
          <p>Acá se muestran las intenciones de las categorías</p>
        </div>

        <div class="container-filter" *ngIf="categoria && intenciones">
            <div class="element-filter element-filter-1">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda" [(ngModel)]="filtro_intenciones">
                    <mat-icon class="search-icon">search</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <div *ngFor="let intencion of intenciones" class="intencion-chat-lista">
          <span class="frase"> {{intencion.frase}}</span>
          <i class="icono-borrar ti-trash danger-color m-r-10 mouse-over ml-1"
            (click)="eliminarIntencion(intencion)"></i>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>