<div class="contenedor-general">
  <mat-card>  
    <mat-card-content>
        <h3>Formulario de Categorías de Experticia</h3>
        <hr>
        <div fxLayout="row wrap">
          <mat-form-field>
            <mat-label>Digite el nombre de la categoría*</mat-label>
            <input matInput [(ngModel)]="categoria_expertiz.nombre" name="titulo" autocomplete="off">
          </mat-form-field>
        </div>
        <h3>Experticias</h3>
        <hr>
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="40" fxFlex="100">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Seleccione la experticia a agregar" matInput [formControl]="myControl" [matAutocomplete]="auto" autocomplete="off">
                <button mat-button *ngIf="myControl.value!=null && myControl.value.length>0" matSuffix mat-icon-button aria-label="Clear" (click)="myControl.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='anadirPreguntaAsociada($event.option.value)'>
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.nombre}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
            <br>
          </div>
          <div fxFlex.gt-sm="10" fxFlex="100"></div>
          <div fxFlex.gt-sm="40" fxFlex="100" *ngIf = "experticia_asociada.length > 0">
            <div class="container-filter">
              <div class="element-filter element-filter-1">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda">
                      <mat-icon class="search-icon">search</mat-icon>
                  </mat-form-field>
              </div>
            </div>
          <div class="responsive-table">
              
              <mat-table [dataSource]="dataSource" matSort>
  
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;"> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row" style="max-width:15%;"> {{row.idtbl_experticia}} </mat-cell>
                  </ng-container>
  
                  <!-- Progress Column -->
                  <ng-container matColumnDef="experticia">
                      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:70%;"> Experticia </mat-header-cell>
                      <mat-cell *matCellDef="let row" style="max-width:70%;"> {{row.nombre}} </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="acciones">
                      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;"> Estado </mat-header-cell>
                      <mat-cell *matCellDef="let row" style="max-width:15%;">
                          <i class="ti-trash danger-color m-r-10 mouse-over" (click)="borrarElemento(row)"></i>
                      </mat-cell>
                  </ng-container>
  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          </div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="100" fxFlex="100">
            <div fxFlex.gt-sm="15" fxFlex="100">
              <button class="custom__btn custom__btn--primary" (click)="habilitarExperticia()"><mat-icon>add</mat-icon> Crear Experticia</button>
            </div>
          </div>
        </div>
        <app-formulario-expertiz *ngIf="crear_experticia" [validar_seccion]="'1'" (respuesta_componente)="actualizarLista()"></app-formulario-expertiz>
        <br>
        <br>
        <div fxLayout="row wrap">
          <div fxFlex="25" fxLayoutAlign="space-between center" class="responsive-btn">
            <button fxFlex="45" class="custom__btn custom__btn--accept" (click)="enviarDato()">Guardar</button>
            <a fxFlex="45" class="custom__btn custom__btn--cancel" [routerLink]="['/ad-categoria-expertiz']"><span class="texto-boton">Cancelar</span></a>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>



