<div class="contenedor">
  <mat-card>
    <mat-card-content>
        <mat-card-title>Administrar Look&Feel</mat-card-title>
        <hr>

        <div fxLayout="row wrap" fxLayoutAlign="space-between flex-start">

          <div fxLayout="column" fxFlex="45" class="m-t-20">
            <mat-label>Cambiar favicon</mat-label>
            <div class="setting-favicon m-t-20">
              <img [src]="url_favicon || ''" alt="">
            </div>
            <div fxLayout="column" class="upload-file-wrapper m-t-20">
              <span class="ti ti-upload"></span>
              <label class="m-r-20" *ngIf="favicon_name == ''; else fileFaviconName">Seleccione o arrastre un archivo</label>
              <ng-template #fileFaviconName>
                <label class="m-r-20">{{favicon_name}}</label>
              </ng-template>
              <input type="file" (change)="onFaviconChange($event)">
            </div>
          </div>

          <div fxLayout="column" fxFlex="45" class="m-t-20">
            <mat-label>Cambiar logo</mat-label>
            <div class="setting-image m-t-20">
              <img [src]="url_logo || ''" alt="">
            </div>
            <div fxLayout="column" class="upload-file-wrapper m-t-20">
              <span class="ti ti-upload"></span>
              <label class="m-r-20" *ngIf="logo_name == ''; else fileLogoName">Seleccione o arrastre un archivo</label>
              <ng-template #fileLogoName>
                <label class="m-r-20">{{logo_name}}</label>
              </ng-template>
              <input type="file" (change)="onLogoChange($event)">
            </div>
          </div>

          <div fxLayout="column" fxFlex="45" class="m-t-20">
              <mat-label>Cambiar título buscador</mat-label>
              <mat-form-field class="m-t-10">
                <input matInput [(ngModel)]="home_text" name="home_text" autocomplete="off" (keyup)="onKeyUp($event)" placeholder="Digite el título">
              </mat-form-field>
            </div>
  
            <div fxLayout="column" fxFlex="45" class="m-t-20">
              <mat-label>Cambiar texto placeholder buscador</mat-label>
              <mat-form-field class="m-t-10">
                <input matInput [(ngModel)]="search_placeholder" name="search_placeholder" autocomplete="off" (keyup)="onKeyUp($event)" placeholder="Digite el placeholder">
              </mat-form-field>
            </div>
  
          <div fxLayoutAlign="start start" fxFlex="45" class="color-wrapper m-t-20">
            <mat-label class="m-r-20">Cambiar color barra superior</mat-label>
            <div class="color-wrapper" fxLayout="column">
                <div class="color-toolbar" id="color_toolbar" [style.backgroundColor]="old_color_toolbar" (click)="is_change_color = !is_change_color"></div>
                <div class="select-color"*ngIf="is_change_color">
                    <color-block triangle="hide"  [color]="old_color_toolbar" [colors]="colors" (onChangeComplete)="handleChangeComplete($event)"></color-block>
                </div>
            </div>
          </div>
          
        </div>
        
        <button class="custom__btn custom__btn--accept m-t-30" (click)="saveSetting()" [disabled]="!is_change">Guardar configuración</button>
    </mat-card-content>
</mat-card>

</div>

<div class="preloader preloader-settings" *ngIf="loading">
  <div class="spinner">
    <div class="double-bounce1">
    </div>
    <div class="double-bounce2">
    </div>
  </div>
  <p>Gardando configuración por favor espere</p>
</div>
