<div class="boton-centrado">
  <h3>Emergencia</h3>
  <img src="../../../../assets/images/sos.png" alt="" class="sos">
</div>
<div class="panel-datos" *ngIf="cliente">
  <p>Información del usuario:</p>
  <div>Nombre: {{cliente.nombre}}</div>
  <div>Correo: {{cliente.correo}}</div>
  <div>Cargo: {{cliente.nombre_perfil}}</div>
  <!-- <div>Teléfono: {{cliente.telefono}}</div> -->
</div>
<div class="boton-centrado">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Indique el motivo de la emergencia" [(ngModel)]="motivo">
  </mat-form-field>
  <button class="custom__btn custom__btn--accept m-r-20" [disabled]="!puede_cerrar_sos || (!motivo || motivo=='')"
    (click)="cerrarEmergencia()">Cerrar Emergencia</button>
</div>