

<mat-card class="mat-card-root">  
  <mat-card-content class="mat-card-content-root">
      <h3>Administración de {{nombre_experto}} ({{correo_experto}})</h3>
      <br>
      <br>
      <div fxLayout="row wrap">
        <mat-form-field fxFlex.gt-sm="30" fxFlex="100">
          <mat-label>Rol Usuario*</mat-label>
          <mat-select [(ngModel)]="datos_experto.rol" name="rol">
            <mat-option *ngFor="let i of roles" [value]="i.idtbl_rol_aplicacion">{{i.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex.gt-sm="5" fxFlex="100"></div>
        <mat-form-field fxFlex.gt-sm="30" fxFlex="100">
          <mat-label>Perfil Usuario*</mat-label>
          <mat-select [(ngModel)]="datos_experto.perfil" name="perfil">
            <mat-option *ngFor="let i of perfiles" [value]="i.idtbl_perfil">{{i.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex.gt-sm="5" fxFlex="100"></div>
        <mat-form-field fxFlex.gt-sm="30" fxFlex="100">
          <mat-label>Peso del chat*</mat-label>
          <input type="number" min="1" onlyNumber matInput [(ngModel)]="datos_experto.peso" name="peso_chat" autocomplete="off">
      </mat-form-field>
      </div>
      <br>
      <br>
      <div fxLayout="row wrap">
        <div fxFlex="25" fxLayoutAlign="space-between center" class="responsive-btn">
            <button fxFlex="45" class="custom__btn custom__btn--accept" (click)="enviarDato()">Guardar</button>
            <a fxFlex="45" class="custom__btn custom__btn--cancel" (click)="cancelarRegistro()"><span class="texto-boton">Cancelar</span></a>
        </div>
      </div>
  </mat-card-content>
</mat-card>




