<div fxLayout="row" fxLayoutAlign="center start " class="history-chat">
  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100" class="history-chat__wrapper">
    <mat-card class="history-mat-card">
        <mat-sidenav-container>
            <mat-sidenav class="sidenav-panel">
              <div class="chat-list">
                <perfect-scrollbar class="contenido">
                  <mat-nav-list>
                    <mat-list-item>
                      <p>prueba</p>
                    </mat-list-item>
                    
                  </mat-nav-list>
                </perfect-scrollbar>
              </div>
            </mat-sidenav>
        </mat-sidenav-container>
    </mat-card>
  </div>
</div>