<div class="general-container">
  <mat-card class="mat-card-root">
    <mat-card-content class="mat-card-content-root">
      <mat-card-title *ngIf="!consola">Historial de Chats</mat-card-title>

      <div class="container-filter">
        <div class="element-filter element-filter-1" [ngClass]="{'element-filter-2':!consola}">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar chats">
            <mat-icon class="search-icon">search</mat-icon>
          </mat-form-field>
        </div>
        <div class="element-filter element-filter-2" *ngIf="!consola">
          <mat-form-field>
            <mat-label>Estado Conversación</mat-label>
            <mat-select name="estado" (selectionChange)="filterData('estado',$event)">
              <mat-option value="todos">Todos</mat-option>
              <mat-option *ngFor="let state of chat_states" [value]="state.nombre">{{state.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="responsive-table">
        <div class="container-table">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:8%;"> Acciones </mat-header-cell>
              <mat-cell *matCellDef="let row" style="max-width:8%;">
                <i class="ti-eye success-color m-r-10 mouse-over" (click)="showMoreChat(row)"></i>
                <i class="ti-download info-color m-r-10 mouse-over" (click)="descargarChat(row)"
                  *ngIf="row.id_estado_conversacion!=7 && !row.loading"></i>
                <mat-progress-spinner *ngIf="row.loading" class="loading-chat-button" color="basic"
                  [mode]="'indeterminate'" [diameter]="20"></mat-progress-spinner>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{column_user}}</mat-header-cell>
              <mat-cell *matCellDef="let row" style="max-width:22%;">
                <span>{{row.nombre}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha_creacion">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;">Fecha de Creación
              </mat-header-cell>
              <mat-cell *matCellDef="let row" style="max-width:15%;">
                <span>{{row.fecha_creacion | MomentDate:'MMM DD YYYY, h:mm:ss a'}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:18%;">Estado Conversación
              </mat-header-cell>
              <mat-cell *matCellDef="let row" style="max-width:18%;">
                <span>{{row.estado}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="producto">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:20%;">Producto</mat-header-cell>
              <mat-cell *matCellDef="let row" style="max-width:20%;">
                <span>{{row.producto}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="busqueda">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:20%;">Busqueda</mat-header-cell>
              <mat-cell *matCellDef="let row" style="max-width:20%;">
                <span>{{row.texto_busqueda}}</span>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        </div>
        <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>