div {
    color: black !important;
}

mat-expansion-panel {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    color: #1a73e8 !important;
}

.container-principal {
    border: thin solid #dadce0;
    border-radius: .5rem;
    margin: 2.625rem 0 0;
}

.container-texto {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.preguntas-asociadas {

    position: relative;
    height: 100%;

    .panel-respuestas {
        position: fixed;
        position: fixed;
        top: 112px;
        right: 80px;
        width: 250px;

    }
}

.boton-calificacion {
    color: white;
    width: 100%;
    background-color: gray;
}

.si {
    background-color: #1e88e5;
    color: white;
}

.fecha-modificacion {
    color: gray !important;
    text-align: end;
}

.no {
    background-color: rgb(221, 51, 51);
    color: white;
}

.texto-boton {
    color: white !important;
}

.siActivado {
    background-color: green;
}

.noActivado {
    background-color: green;
}

.icono-dias{
    padding-top: 9px;
    padding-right: 9px;
    text-align: end;
}

.icono{
    color: #c19d17 !important;
}
