<!--p>
  respuestas works!
</p-->

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="5" fxFlex="100"></div>
  <div fxFlex.gt-sm="70" fxFlex="100" class="container-principal">
    <div class="container-texto">
      <h3><strong>{{pregunta.titulo}}</strong></h3>
      <div [innerHTML]="pregunta.respuesta"></div>
      <div *ngIf="categorias_subrespuestas_superior.length > 0">
        <div *ngFor="let categoria_superior of categorias_subrespuestas_superior">
          <h4><strong>{{categoria_superior.categoria}}</strong></h4>
          <hr>
          <div *ngFor="let subrespuesta of subrespuestas;">
              <mat-accordion *ngIf="subrespuesta.categoria == categoria_superior.categoria && subrespuesta.posicion == 1">
                <mat-expansion-panel>                                      
                  <mat-expansion-panel-header>
                    <strong>{{subrespuesta.titulo}}</strong>
                  </mat-expansion-panel-header>
                  <div [innerHTML]="subrespuesta.texto"></div>
                </mat-expansion-panel>
                <hr>
              </mat-accordion>   
            </div>
        </div>
      </div>
      <mat-tab-group *ngIf="segmentos.length > 0">
        <br>
        <mat-tab *ngFor="let segmento of segmentos; let i = index;" label="{{segmento.titulo}}">
          <br>
          <div [innerHTML]="segmento.texto"></div>
          <div *ngIf="array_mostrar.length > 0">
              <div *ngFor="let arr of array_mostrar; let cont = index;">
                <mat-accordion *ngIf="arr.pos_segmento == i">
                  <mat-expansion-panel>                                      
                    <mat-expansion-panel-header>
                      <strong>{{arr.titulo}}</strong>
                    </mat-expansion-panel-header>
                    <div [innerHTML]="arr.texto"></div>
                  </mat-expansion-panel>
                  <hr>
                </mat-accordion>
                <br>
              </div>
            </div>
        </mat-tab>
      </mat-tab-group>
      <div *ngIf="categorias_subrespuestas_inferior.length > 0">
        <div *ngFor="let categoria_inferior of categorias_subrespuestas_inferior">
          <h4><strong>{{categoria_inferior.categoria}}</strong></h4>
          <hr>
          <div *ngFor="let subrespuesta of subrespuestas;">
              <mat-accordion *ngIf="subrespuesta.categoria == categoria_inferior.categoria && subrespuesta.posicion == 2">
                <mat-expansion-panel>                                      
                  <mat-expansion-panel-header>
                    <strong>{{subrespuesta.titulo}}</strong>
                  </mat-expansion-panel-header>
                  <div [innerHTML]="subrespuesta.texto"></div>
                </mat-expansion-panel>
                <hr>
              </mat-accordion>   
            </div>
        </div>
      </div>
      <h3><strong>¿Fue útil esta información?</strong></h3>
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex="100">
          <div fxFlex.gt-sm="10" fxFlex="100">
              <a class="boton-calificacion si" mat-raised-button (click)="calificacion(1)"><span class="texto-boton">Si</span></a>
          </div>
          <div fxFlex.gt-sm="5" fxFlex="100"></div>
          <div fxFlex.gt-sm="10" fxFlex="100">
              <a class="boton-calificacion no" mat-raised-button (click)="calificacion(2)"><span class="texto-boton">No</span></a>
          </div>
        </div>
      </div>      
      <div *ngIf="nueva_observacion">
        <br>
        <mat-form-field>
          <textarea matInput placeholder="Observaciones" name="notas" [(ngModel)]="observaciones" matAutosizeMinRows=1 matAutosizeMaxRows=10></textarea>
        </mat-form-field>
        <a mat-raised-button class="no" (click)="enviarCalificacion()"><span class="texto-boton">Enviar</span></a>
      </div>
      
      
    </div>

    

  </div>

  <div fxFlex.gt-sm="25" fxFlex="100">
    <div class="preguntas-asociadas">
      <strong>Preguntas Asociadas</strong>
      <p *ngFor="let pregunta_asociada of preguntas_adicion" (click)="preguntaAsociada(pregunta_asociada.idtbl_pregunta)">{{pregunta_asociada.titulo}}</p>
    </div>
  </div>

</div>

