div {
    //color: black !important;
}

.mat-expansion-panel-header {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    color: #1a73e8 !important;
}

.container-principal {
    border: thin solid #dadce0;
    border-radius: .5rem;
    margin: 2.625rem 0 0;

    &.sin-asociadas {
        max-width: 95% !important;
        flex: auto !important;
    }
}

.sin-asociadas {
    max-width: 95% !important;
    flex: auto !important;
}

.container-texto {
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
    position: relative;
}

.mouse-over {
    color: blue;
}

.icono-asociado {
    position: absolute;
    color: rgb(89, 70, 141);
}

.contenedor-texto {
    padding-left: 0px;
    flex: 1;
    position: relative;
    top: 0px;
    left: 30px;
}

.preguntas-asociadas {

    position: relative;
    height: 100%;

    .panel-respuestas {
        position: fixed;
        position: fixed;
        top: 112px;
        right: 80px;
        width: 250px;

    }
}

.boton-calificacion {
    color: white;
    width: 100%;
    background-color: gray;
}

.si {
    background-color: #1e88e5;
    color: white;
}

.fecha-modificacion {
    color: gray !important;
    position: absolute;
    right: 30px;
}

.no {
    background-color: rgb(221, 51, 51);
    color: white;
}

.texto-boton {
    color: white !important;
}

.siActivado {
    background-color: green;
}

.noActivado {
    background-color: green;
}

.icono {
    color: #c19d17 !important;
    margin-left: 5px;
    position: absolute;
    right: -5px;
    width: 30px;
    margin-top: -5px;
}

.titulo-pregunta {
    padding-top: 25px;
}

.contenedor-segmento-pad {
    padding-left: 15px;
}

@media only screen and (max-width: 1200px) {
    .preguntas-asociadas {

        position: relative;
        height: 100%;

        .panel-respuestas {
            position: fixed;
            position: fixed;
            top: 112px;
            right: 50px;
            width: 200px;

        }
    }
}

@media only screen and (max-width: 960px) {
    .preguntas-asociadas {

        position: relative;
        height: 100%;

        .panel-respuestas {
            top: 0px;
            right: 0px;
            width: 90%;
            padding-top: 25px;
            position: static;
            margin: auto;
        }
    }
}