<div class="sin_fondo centrado">
  <div class="contenido-centrado">
    <app-search-component [modo]="2" [texto_buscar]="busqueda"></app-search-component>
    <mat-tab-group (selectedTabChange)="cambiaTab($event)">
      <mat-tab label="Preguntas y respuestas"></mat-tab>
      <mat-tab label="Conecta autogestión"></mat-tab>
      <mat-tab label="Mis Chats"></mat-tab>
    </mat-tab-group>
    <div *ngIf="resultado" class="caja-resultados">
      <div *ngIf="ortografia" class="quisistes-decir"><span>Quizas quisiste decir: </span> <a
         (click)="abrirRuta(busquedaUrl)"><b>{{busquedaCorregida}}</b></a></div>
      <div *ngFor="let r of resultados; let i = index" class="contenedor__texto center">
        <app-resultado-search [respuesta]="r" [pos]="i" [busqueda]="busqueda"></app-resultado-search>
      </div>
      <mat-paginator [length]="length" [hidePageSize]="true" (page)="paginar($event)" [pageIndex]="page"
        [showFirstLastButtons]="true" *ngIf="!cargando_respuestas && length>10" [pageSize]="10">
      </mat-paginator>
      <mat-progress-spinner class="spinner-cargando-respuestas" [mode]="'indeterminate'" [diameter]="68"
        *ngIf="cargando_respuestas">
      </mat-progress-spinner>
    </div>
    <div *ngIf="resultado == false">
      <div>
        <h3>
          No hemos encontrado ninguna respuesta que coincida con <b>{{busqueda}}</b> en Conecta Soporte.
        </h3>
      </div>
      <div>
        <h4>Sugerencias:</h4>
        <ul>
          <li>Comprueba que todas las palabras estén bien escritas.</li>
          <li>Intenta usar otras palabras clave.</li>
          <li>Reformula tu pregunta.</li>
        </ul>
      </div>
    </div>
  </div>
</div>