div {
    color: black;
}

.centrado {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
    flex-direction: column;

    .contenido-centrado {
        margin: 0 auto;
        max-width: 840px;
        width: 100%;
    }
}

.center {
    margin-right: auto;
    display: block;
}

.img-circle {
    max-width: 1.3em;
    margin-top: 0.3em;
}

.fila {
    column-count: 2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.titulo_h2 {
    margin: auto;
}

.historial__contenedor {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}

h4 {
    margin-top: 0px;
}

.titulo_h3 {
    margin: .5em !important;
    transition: all ease 0.5s;
}

.titulo_h3:hover {
    color: var(--azul_davivienda);
    cursor: pointer;
}

.imagen-busqueda {
    margin-top: 10px;
    img {
        display: inline-block;
        max-height: 100%;
        padding: 1px;
        border: 1px solid #00f;
        max-width: 174px;
    }
}



/*MediaQuery*/



@media only screen and (max-width: 414px) {
    .centrado {
        margin: 1em 15px;
    }
}

@media only screen and (max-width: 360px) {
    .centrado {
        margin: 1em 15px;
    }
}

@media only screen and (max-width: 320px) {
    .centrado {
        margin: 1em 15px;
    }
}