<div class="general-container">
  <mat-card *ngIf="creando_extension" class="mat-card-root">
    <mat-card-content class="mat-card-content-root">
      <mat-card-title>Crear Shortcut</mat-card-title>
      <div fxLayaout="100" class="contenedor-column-form">
        <form class="m-t-20" fxFlex="70">
          <mat-form-field class="demo-chip-list">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let comando of comandos; let i=index" [selectable]="selectable" [removable]="removable">
                {{comando.key}}
                <mat-icon matChipRemove *ngIf="removable" (click)="remove(i)">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Comandos" [matChipInputFor]="chipList" (keyup)="soltar()" (keydown)="add($event)"
                (keypress)="$event.preventDefault()" />
              <button mat-button *ngIf="comandos.length>0" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="nuevo_shortcut.error">Los comando deben empezar por Shift, Alt o Control
              </mat-error>
            </mat-chip-list>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Selecciona un guión" matInput [formControl]="createControl"
              [matAutocomplete]="auto" autocomplete="off" />
            <button mat-button *ngIf="createControl.value" matSuffix mat-icon-button aria-label="Clear"
              (click)="createControl.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='seleccionaGuion($event.option.value)'>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.texto}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <p>Guión seleccionado: {{nuevo_shortcut.guion}}</p>
          <div fxLayout="row wrap">
            <div fxFlex="25" fxLayoutAlign="space-between center" class="responsive-btn">
              <button fxFlex="45" class="custom__btn custom__btn--accept"
                [disabled]="comandos.length<1 || creando_shortcut || (!createControl.value || createControl.value=='')"
                (click)="crearShortcut()">Crear</button> &nbsp;
              <!-- <button fxFlex="45" class="custom__btn custom__btn--accept" [disabled]="comandos.length<1"
                (click)="reset()">Reset</button> &nbsp;-->
              <button fxFlex="45" class="custom__btn custom__btn--cancel"
                (click)="creando_extension=!creando_extension">Cancelar</button>
            </div>
          </div>
        </form>
        <div fxFlex="30" class="recomendacion">
          <p><b>Comandos reservados de Chrome</b></p>
          <ul>
            <li>Ctrl-N</li>
            <li>Ctrl-Shift-N</li>
            <li>Ctrl-T</li>
            <li>Ctrl-Shift-T</li>
            <li>Ctrl-W</li>
          </ul>
        </div>
  
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card-root">
    <mat-card-content class="mat-card-content-root">
      <br>
      <div class="botones m-b-20" *ngIf="!creando_extension">
        <button class="custom__btn custom__btn--primary" (click)="creando_extension=!creando_extension">
          <mat-icon>add</mat-icon> Crear Shortcut
        </button>
      </div>
      
      <div class="container-filter">
          <div class="element-filter element-filter-1">
              <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda">
                  <mat-icon class="search-icon">search</mat-icon>
              </mat-form-field>
          </div>
      </div>

      <div class="responsive-table">
        <mat-table [dataSource]="dataSource" matSort>
  
          <!-- Progress Column -->
          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <div *ngIf="!row.editando">
                <i class="ti-trash danger-color m-r-10 mouse-over" (click)="eliminarShortcut(row)"></i>
              </div>
              <div *ngIf="row.editando">
                <i class="ti-save success-color m-r-10 mouse-over" (click)="editarExtension(row)"></i>
                <i class="ti-close danger-color m-r-10 mouse-over" (click)="row.editando=false"></i>
              </div>
            </mat-cell>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="comandos">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Comandos </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-chip-list>
                <mat-chip *ngFor="let comando of row.comandos; let i=index">
                  {{comando.key}}
                </mat-chip>
              </mat-chip-list>
            </mat-cell>
          </ng-container>
  
          <!-- Color Column -->
          <ng-container matColumnDef="guion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Guión </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.guion}}
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
  
        <mat-paginator [pageSizeOptions]="[5, 15, 25, 100]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
