<mat-card class="card-detail" *ngIf="data.action === 'show_errors'">
    <mat-card-header>
        <mat-card-title class="card-title text-danger m-t-20">Detalle de errores</mat-card-title>
        <mat-card-subtitle>Errores encontrados:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="item-detail m-b-20" fxLayout="column wrap" *ngFor="let key of keys">
            <span class="p-t-10">{{ key }}</span>
            <p class="p-l-10">{{ data_question[key] }}</p>
            <mat-divider class="background-divider"></mat-divider>
        </div>
        <a class="ng2-smart-action ng2-smart-action-add-add ng-star-inserted" (click)="closeDialog()">Aceptar</a>
    </mat-card-content>   
</mat-card>

<mat-card class="card-detail" *ngIf="data.action === 'show_details'">
    <mat-card-header>
        <mat-card-title class="card-title text-warning m-t-20">Detalle de la pregunta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="item-detail m-b-20" fxLayout="column wrap" *ngFor="let key of keys">
            <span class="p-t-10">{{ key }}</span>
            <p class="p-l-10">{{ data_question[key] }}</p>
            <mat-divider class="background-divider"></mat-divider>
        </div>
        <a class="ng2-smart-action ng2-smart-action-add-add ng-star-inserted" (click)="closeDialog()">Aceptar</a>
    </mat-card-content>   
</mat-card>

