<p>Chat: <strong>{{data.cliente}}</strong></p>
<p>Por favor indique la razón para cerrar el chat</p>
<mat-form-field class="mr-1 ml-1 filtro">

  <input matInput [formControl]="filtro" />
  <button mat-icon-button title="Cerrar" (click)="limpiar()" *ngIf="filtro.value && filtro.value!=''" matSuffix>
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<h4 *ngIf="motivos_filtrados.length == 0">Por favor configure al menos un motivo de cierre por categoría de experticia para cerrar el chat.</h4>
<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="id_motivo_cierre">
  <mat-radio-button class="example-radio-button" *ngFor="let m of motivos_filtrados"
    [value]="m.idtbl_motivo_cierre_chat">
    {{m.nombre}}
  </mat-radio-button>
</mat-radio-group>
<div class="botonera">
  <button class="custom__btn custom__btn--accept m-r-20" [disabled]="!id_motivo_cierre || loading"
    (click)="cerrar(true)">Enviar</button>
  <button class="custom__btn custom__btn--cancel m-r-20" (click)="cerrar(false)" *ngIf="!data.no_cerro_experto" [disabled]="loading">Cancelar</button>
</div>