<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->

<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <!-- Row -->

        <app-full-layout *ngIf="!responseSearch.isActive()"></app-full-layout>
        <app-spinner *ngIf="responseSearch.isActive()"></app-spinner>
    </div>
    <!-- column -->
</div>
<app-chat-cliente *ngIf="!responseSearch.isActive()"></app-chat-cliente>
<app-sonidos></app-sonidos>