<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<app-sonidos></app-sonidos>
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxLayout="column" fxFlexFill>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <!-- Row -->

            <app-full-layout *ngIf="!responseSearch.isActive()"></app-full-layout>
            <app-spinner *ngIf="responseSearch.isActive()"></app-spinner>
        </div>
       <!-- <app-footer></app-footer>-->
    </div>
    <!-- column -->
</div>
<app-chat-cliente *ngIf="!responseSearch.isActive()"></app-chat-cliente>