<div class="principal general-container">
  <mat-card class="mat-card-root">
    <mat-card-content class="mat-card-content-root">

      <h3>Formulario de Registro de Categorías</h3>
      <hr>
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="40" fxFlex="100">
          <br>
          <mat-card-title>Categorías</mat-card-title>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Seleccione la categoría padre" matInput [formControl]="myControl"
                [matAutocomplete]="auto" (ngModelChange)="verificarArbolMostrar(myControl.value)" autocomplete="off">
              <button mat-button *ngIf="myControl.value!=null && myControl.value.length>0" matSuffix mat-icon-button
                aria-label="Clear" (click)="myControl.setValue('');mostrarIconos();">
                <mat-icon>close</mat-icon>
              </button>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)='seleccionarProducto($event.option.value)'>
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <br>
          <mat-form-field>
            <mat-label>Digite la categoría</mat-label>
            <input matInput [(ngModel)]="categoria.nombre" name="nombre" autocomplete="off">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="10" fxFlex="100"></div>
        <div fxFlex.gt-sm="50" fxFlex="100" *ngIf="arbol_mostrar.length > 0">
          <br>
          <mat-card-title>Arbol de la categoría</mat-card-title>

          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button></button>
              <strong *ngIf="nivel_producto == node.level">{{node.name}}</strong>
              <span *ngIf="nivel_producto != node.level">{{node.name}}</span>
              <mat-icon *ngIf="node.level == 0" class="icono-padre"> {{icono_padre}} </mat-icon>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <strong *ngIf="nivel_producto == node.level"> {{node.name}}</strong>
              <span *ngIf="nivel_producto != node.level"> {{node.name}} </span>
              <mat-icon *ngIf="node.level == 0" class="icono-padre"> {{icono_padre}} </mat-icon>
            </mat-tree-node>
          </mat-tree>
        </div>
      </div>
      <br>
      <br>
      <div *ngIf="mostrar_iconos">
        <h3>Íconos</h3>
        <hr>
        <div fxLayout="row wrap" class="div-iconos">
          <div fxFlex.gt-sm="100" fxFlex="100">
            <mat-radio-group class="example-radio-group" [(ngModel)]="categoria.nombre_icono">
              <mat-radio-button class="example-radio-button" *ngFor="let i of icons" [value]="i">
                <mat-icon class="icon">{{i}}</mat-icon>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div fxLayout="row wrap">
        <div fxFlex="25" fxLayoutAlign="space-between center" class="responsive-btn">
          <button fxFlex="45" class="custom__btn custom__btn--accept" (click)="guardarProducto()">Guardar</button>
          <a fxFlex="45" class="custom__btn custom__btn--cancel" [routerLink]="['/productos']"><span
              class="texto-boton">Cancelar</span></a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>