<div class="general-container">
    <mat-card *ngIf="is_created" class="mat-card-root">  
        <mat-card-content class="mat-card-content-root">
        
            <h3>Formulario agregar url</h3>
            <hr>
            <div fxLayout="row wrap">
            <div fxFlex="100">
                <br>
                <mat-form-field>
                    <mat-label>Digite el nombre</mat-label>
                    <input matInput [(ngModel)]="nueva_url.label" name="label" autocomplete="off">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Digite la url</mat-label>
                    <input matInput [(ngModel)]="nueva_url.url" name="url" autocomplete="off">
                </mat-form-field>
            </div>
            </div>
                
            <br>
            <br>
            <div fxLayout="row wrap">
            <div fxFlex="25" fxLayoutAlign="space-between center" class="responsive-btn">
                <button fxFlex="45" class="custom__btn custom__btn--accept" (click)="nuevoRegistro()">Guardar</button>
                <a fxFlex="45" class="custom__btn custom__btn--cancel" (click)="is_created = !is_created">Cancelar</a>
            </div>
            </div>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="mat-card-root">
        <mat-card-content class="mat-card-content-root">
            <br>
            <button class="custom__btn custom__btn--primary" (click)="is_created = !is_created" *ngIf="!is_created">
                <mat-icon>add</mat-icon>
                Añadir Url
            </button>
            <br>
            <br>
            <mat-card-title>Url del menu</mat-card-title>
            
            <div class="container-filter">
                <div class="element-filter element-filter-1">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda">
                        <mat-icon class="search-icon">search</mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <div class="responsive-table">
                <div class="container-table">
                    <mat-table [dataSource]="dataSource" matSort>
        
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;"> ID </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:15%;"> {{row.idtbl_url_menu}} </mat-cell>
                        </ng-container>
                
                        <!-- Progress Column -->
                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:70%;"> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:70%;">
                                <span *ngIf="!row.editando">{{row.label}}</span>
                                <mat-form-field *ngIf="row.editando"><input matInput [(ngModel)]="row.label"></mat-form-field>
                            </mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="valor">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:70%;"> URL </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:70%;">
                                <span *ngIf="!row.editando">{{row.url}}</span>
                                <mat-form-field *ngIf="row.editando"><input matInput [(ngModel)]="row.url"></mat-form-field>
                            </mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;"> Estado </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:15%;">
                                <i *ngIf="!row.editando" class="ti-pencil info-color m-r-10 mouse-over" (click)="editarRegistro(row)"></i>
                                <i *ngIf="!row.editando" class="ti-trash danger-color m-r-10 mouse-over" (click)="eliminarRegistro(row)"></i>
                                <i *ngIf="row.editando" class="ti-save success-color m-r-10 mouse-over" (click)="guardarRegistro(row)"></i>
                                <i *ngIf="row.editando" class="ti-close danger-color m-r-10 mouse-over" (click)="cancelarEdicion(row)"></i>
                            </mat-cell>
                        </ng-container>
                
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 15, 25, 100]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>
