<mat-card class="tarjeta-respuesta" [ngClass]="{'primero':pos==0}">
  <mat-card-content>
    <mat-card-title *ngIf="respuesta.tipo=='Conecta'"><a target="_blank"
        [href]="[respuesta.url]"><strong>{{respuesta.title}}</strong></a>
    </mat-card-title>
    <mat-card-title *ngIf="respuesta.tipo=='Google Drive'"><a target="_blank"
        [href]="respuesta.url">{{respuesta.title}}</a></mat-card-title>
    <div class="panel-contenido">
      <div class="icono-respuesta">
        <mat-icon *ngIf="respuesta.tipo=='Conecta'">{{respuesta.url_icono}}</mat-icon>
        <img [src]="respuesta.url_icono" *ngIf="respuesta.tipo=='Google Drive'" />
      </div>
      <div class="contenido-respuesta">
        <mat-card-subtitle> {{respuesta.tipo}}</mat-card-subtitle>
        <div class="contenedor-texto">
          <span *ngIf="mostrando" [innerHTML]="respuesta.contenido | buscadorhightlight:busqueda |safe:'html'"></span>
        </div>
        <mat-progress-bar *ngIf="!mostrando" class="barra-cargando" [mode]="'indeterminate'"
          [bufferValue]="bufferValue">
        </mat-progress-bar>
      </div>
    </div>
  </mat-card-content>
</mat-card>