<!-- ============================================================== -->
<!-- Notification - style you can find in header.scss -->
<!-- ============================================================== -->



<button mat-icon-button class="m-r-10" (click)="emergenciaSOS()" title="No es un botón de pánico" [disabled]="creando_emergencia">
    <img src="../../../../assets/images/sos.png" alt="" class="sos">
    <div class="notify">
        <span class="heartbit"></span>
        <span class="point"></span>
    </div>
</button>

<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<!--button [matMenuTriggerFor]="message" mat-icon-button class="m-r-10">
    <img src="../../../../assets/images/Alerta.svg" alt="" class="alerta">
    <div class="notify">
        <span class="heartbit"></span>
        <span class="point"></span>
    </div>
</button-->

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-10">
    <img [src]="profileImage" alt="" class="img_pequeña alerta">
</button>
<mat-menu #profile="matMenu" class="mymegamenu menu-usuario" style="overflow: hidden;">
    <perfect-scrollbar>
        <div *ngIf="user" class="info">
            <div>{{user.nombre}}</div>
            <div>{{user.correo}}</div>
        </div>
        <div *ngIf="user && user.id_rol==2">
            <mat-divider></mat-divider>
            <h4>Estados Experto</h4>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="opciones-experto"
                [(ngModel)]="user.estado_experto" (change)="cambiarEstadoExperto($event)" [disabled]="emergencia_actual">
                <mat-radio-button class="example-radio-button" *ngFor="let e of estados_operador" [value]="e.id">
                    {{e.nombre}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="user && user.id_rol!=2">
            <mat-divider></mat-divider>
            <h4>Chat</h4>
            <button class="custom__btn custom__btn--primary" (click)="abrirChat()">Abrir Chat</button>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center center" class="active-dark m-t-10">
            <mat-label class="active-text m-r-20">Activar modo nocturno</mat-label>
            <label class="switch" for="dark_checkbox">
                <input type="checkbox" id="dark_checkbox" (change)="cambioModoNocturno($event)" [checked]="is_dark_mode == 1"/>
                <div class="slider-switch round-switch"></div>
            </label>
        </div>

    </perfect-scrollbar>
</mat-menu>



<mat-menu #message="matMenu" class="mymessage">
    <mat-nav-list appAccordion class="contenedor__campana">
        <img src="assets/images/Conecta-Soporte.png" alt="conecta_logo" class="img_conecta">
        <div class="texto__notificacion">
            <img src="../../../../assets/images/siren.png" alt="" class="img__campana">
            <h4>Notificaciones</h4>
        </div>
        <div>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p class="texto_pequeño">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum pariatur numquam
                totam ration.</p>
            <img src="../../../../assets/images/big/img2.jpg" alt="" class="img_header">
            <div class="contenedor__minuto"><span class="minuto">hace 1 un minuto</span></div>
        </div>
        <div>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p class="texto_pequeño">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum pariatur numquam
                totam ration.</p>
            <img src="../../../../assets/images/big/img2.jpg" alt="" class="img_header">
            <div class="contenedor__minuto"><span class="minuto">hace 1 un minuto</span></div>
        </div>
    </mat-nav-list>

</mat-menu>
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
