<!-- ============================================================== -->
<!-- Notification - style you can find in header.scss -->
<!-- ============================================================== -->

<button mat-icon-button class="m-r-10" (click)="emergenciaSOS()" title="No es un botón de pánico"
    *ngIf="muestra_boton_sos" [disabled]="creando_emergencia">
    <img src="../../../../assets/images/sos.png" alt="" class="sos">
    <div class="notify">
        <span class="heartbit"></span>
        <span class="point"></span>
    </div>
</button>

<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<!--button [matMenuTriggerFor]="message" mat-icon-button class="m-r-10">
    <img src="../../../../assets/images/Alerta.svg" alt="" class="alerta">
    <div class="notify">
        <span class="heartbit"></span>
        <span class="point"></span>
    </div>
</button-->

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-10">
    <img [src]="profileImage" alt="" class="img_pequeña alerta">
</button>
<mat-menu #profile="matMenu" class="mymegamenu menu-usuario" style="overflow: hidden;">
    <div class="contendor-perfil-usuario">
        <div class="contenedor-foto-perfil">
            <img [src]="profileImage" />
        </div>
        <div class="nombre-usuario">{{user.nombre}}</div>
        <div class="email-usuario">{{user.correo}}</div>
    </div>
    <div *ngIf="user && user.id_rol==2">
        <mat-divider></mat-divider>
        <perfect-scrollbar>
            <div class="contendor-estados-experto">

                <h4>Estados Experto</h4>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="opciones-experto"
                    [(ngModel)]="user.estado_experto" (change)="cambiarEstadoExperto($event)"
                    [disabled]="emergencia_actual">
                    <mat-radio-button class="example-radio-button" *ngFor="let e of estados_operador"
                        [value]="e.idtbl_estado_experto">
                        {{e.nombre}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>


        </perfect-scrollbar>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="active-dark m-t-10">
        <mat-label class="active-text m-r-20">Modo nocturno</mat-label>
        <label class="switch" for="dark_checkbox">
            <input type="checkbox" id="dark_checkbox" (change)="cambioModoNocturno($event)"
                [checked]="is_dark_mode == 1" />
            <div class="slider-switch round-switch"></div>
        </label>
    </div>
    <div *ngIf="ambiente && ambiente=='cam'">
        <mat-divider></mat-divider>
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="25">
            <mat-label class="active-text m-r-20">Pais</mat-label>
            <mat-select [(ngModel)]="paisActual" name="envio" (selectionChange)="cambiarPais()">
                <mat-option [value]="pan">Panamá</mat-option>
                <mat-option [value]="cos">Costa Rica</mat-option>
                <mat-option [value]="hon">Honduras</mat-option>
                <mat-option [value]="sal">El Salvador</mat-option>
            </mat-select>
        </div>
    </div>
</mat-menu>




<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->