<!-- ============================================================== -->
<!-- Notification - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="notification" mat-icon-button class="m-r-10">
    <img src="../../../../assets/images/SOS.svg" alt="" class="sos">
    <div class="notify">
        <span class="heartbit"></span>
        <span class="point"></span>
    </div>
</button>
<mat-menu #notification="matMenu" class="mymegamenu">
    <div class="mailbox">
        <ul>
            <li>
                <div class="drop-title">Notifications</div>
            </li>
            <li>
                <div class="message-center">

                    <!-- Message -->
                    <a href="#" *ngFor="let notification of notifications">
                        <div class="round {{notification.round}}">
                            <i class="{{notification.icon}}"></i>
                        </div>
                        <div class="mail-contnet">
                            <h5>{{notification.title}}</h5>
                            <span class="mail-desc">{{notification.subject}}</span>
                            <span class="time">{{notification.time}}</span>
                        </div>
                    </a>


                </div>
            </li>

        </ul>
    </div>
</mat-menu>
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="message" mat-icon-button class="m-r-10">
    <img src="../../../../assets/images/Alerta.svg" alt="" class="alerta">
    <div class="notify">
        <span class="heartbit"></span>
        <span class="point"></span>
    </div>
</button>
<mat-menu #message="matMenu" class="mymessage">
    <mat-nav-list appAccordion class="contenedor__campana">
        <img src="assets/images/Conecta-Soporte.png" alt="conecta_logo" class="img_conecta">
        <div class="texto__notificacion">
            <img src="../../../../assets/images/Alerta.svg" alt="" class="img__campana">
            <h4>Notificaciones</h4>
        </div>
        <div>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p class="texto_pequeño">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum pariatur numquam totam ration.</p>
            <img src="../../../../assets/images/big/img2.jpg" alt="" class="img_header">
            <div class="contenedor__minuto"><span class="minuto">hace 1 un minuto</span></div>
        </div>
        <div>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p class="texto_pequeño">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum pariatur numquam totam ration.</p>
            <img src="../../../../assets/images/big/img2.jpg" alt="" class="img_header">
            <div class="contenedor__minuto"><span class="minuto">hace 1 un minuto</span></div>
        </div>
    </mat-nav-list>
</mat-menu>
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->