<div fxLayout="row" fxLayoutAlign="center start " class="chat-experto">
  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card class="mat-card-top mat-card-root">
      <mat-sidenav-container
        [ngClass]="{ 'side-panel-opened': sidePanelOpened, 'side-panel-closed': !sidePanelOpened }">
        <mat-sidenav #chatnav [mode]="isOver() ? 'over' : 'side'" [opened]="true" (open)="sidePanelOpened = true"
          (openedChange)="sidePanelOpened = chatnav.opened" (close)="sidePanelOpened = false" class="sidenav-panel">
          <div class="panel-chats primero" *ngIf="!esSupervisor">
            <perfect-scrollbar class="contenido">
              <mat-nav-list>
                <!-- <div *ngFor="let f of chats_cola">
                  <mat-list-item (click)="onSelectCola(chat)" *ngFor="let chat of f.chats" class="espera">
                    <img mat-list-avatar src="{{chat.cliente.url_imagen_gsuite}}" alt="" *ngIf="chat.cliente">
                    <div class="punt-estado-chat"
                      [ngClass]="{'green':(chat.id_estado_conversacion==2),'orange':(chat.id_estado_conversacion==1 && !chat.tiempo_cola),'red':(chat.id_estado_conversacion==1 && chat.tiempo_cola)}">
                    </div>
                    <h3 matLine *ngIf="chat.cliente"> {{chat.cliente.nombre}} </h3>
                  </mat-list-item>
                </div>
                -->
                <mat-list-item (click)="onSelectCola(chat)" *ngFor="let chat of fila_chats | filaChats" class="espera">
                  <img mat-list-avatar src="{{chat.cliente.url_imagen_gsuite}}" alt="" *ngIf="chat.cliente">
                  <div class="punt-estado-chat"
                    [ngClass]="{'green':(chat.id_estado_conversacion==2),'orange':(chat.id_estado_conversacion==1 && !chat.tiempo_cola),'red':(chat.id_estado_conversacion==1 && chat.tiempo_cola),'gris':(chat.id_estado_conversacion!=2 && chat.id_estado_conversacion!=1)}">
                  </div>
                  <h3 matLine *ngIf="chat.cliente"> {{chat.cliente.nombre}} </h3>
                </mat-list-item>
                <mat-list-item (click)="onSelect(chat)" *ngFor="let chat of chats_experto" class="activos"
                  [ngClass]="{'mensajes-nuevos':
                    (chat.mensajes_nuevos && chat.id_estado_conversacion==2) ||
                    new_messages.includes(chat.idtbl_conversacion)
                  }">
                  <img mat-list-avatar src="{{chat.cliente.url_imagen_gsuite}}" alt="" *ngIf="chat.cliente">
                  <div class="punt-estado-chat"
                    [ngClass]="{'green':(chat.id_estado_conversacion==2),'gris':(chat.id_estado_conversacion!=2)}">
                  </div>
                  <h3 matLine *ngIf="chat.cliente"> {{chat.cliente.nombre}} </h3>
                  <p matLine class="text-muted preview-mensaje" [ngClass]="{'bold':chat.mensajes_nuevos}"
                    *ngIf="chat.mensajes && chat.ultimo_mensaje">
                    <span *ngIf="chat.ultimo_mensaje.id_usuario==user.idtbl_usuario">
                      <mat-icon *ngIf="chat.ultimo_mensaje.estado==1">access_time</mat-icon>
                      <mat-icon *ngIf="chat.ultimo_mensaje.estado==2">done</mat-icon>
                      <mat-icon *ngIf="chat.ultimo_mensaje.estado==3">done_all</mat-icon>
                    </span>
                    {{chat.ultimo_mensaje.label}} </p>
                </mat-list-item>

              </mat-nav-list>
            </perfect-scrollbar>
          </div>
          <div class="panel-chats segundo" [ngClass]="{'panel-chats-supervisor':esSupervisor}">
            <div class="cabecero">
              <mat-form-field class="mr-1 ml-1 filtro" fxFlex>
                <input type="text" matInput placeholder="Buscar Experto" (keyup)="filtraExpertos()"
                  [(ngModel)]="buscar_experto" />
              </mat-form-field>
            </div>
            <perfect-scrollbar class="contenido">
              <mat-nav-list>
                <div [transition-group]="'flip-list'">
                  <mat-list-item (click)="abrirConversacionExperto(experto)" class="item-experto-chat"
                    *ngFor="let experto of expertos_filtro | ordenarExpertos" transition-group-item
                    [ngClass]="{'mensajes-nuevos':experto.conversacion_experto && experto.conversacion_experto.mensajes_nuevos}">
                    <img mat-list-avatar src="{{experto.url_imagen_gsuite}}" alt="">
                    <div *ngIf="!esSupervisor" class="punt-estado-chat"
                      [ngClass]="{'green':experto.activo_chat,'gris':!experto.activo_chat,'punto-supervisor':esSupervisor}">
                    </div>
                    <div *ngIf="esSupervisor" class="punt-estado-chat" 
                      [ngClass]="{'green':experto.activo_chat,'gris':!experto.activo_chat,'red-emergency':experto.atendiendo_emergencia,'punto-supervisor':esSupervisor}">
                    </div>
                    <h3 matLine> {{experto.nombre}} </h3>
                    <p matLine class="text-muted preview-mensaje"
                      [ngClass]="{'bold':experto.conversacion_experto && experto.conversacion_experto.mensajes_nuevos}"
                      *ngIf="experto.conversacion_experto && experto.conversacion_experto.mensajes && experto.conversacion_experto.ultimo_mensaje">
                      <span *ngIf="experto.conversacion_experto.ultimo_mensaje.id_usuario==user.idtbl_usuario">
                        <mat-icon *ngIf="experto.conversacion_experto.ultimo_mensaje.estado==1">access_time</mat-icon>
                        <mat-icon *ngIf="experto.conversacion_experto.ultimo_mensaje.estado==2">done</mat-icon>
                        <mat-icon *ngIf="experto.conversacion_experto.ultimo_mensaje.estado==3">done_all</mat-icon>
                      </span>
                      {{experto.conversacion_experto.ultimo_mensaje.label}} </p>
                  </mat-list-item>
                </div>
              </mat-nav-list>
            </perfect-scrollbar>

          </div>
        </mat-sidenav>
        <mat-sidenav-content class="contenedor-sidenav-chat-experto">
          <div *ngIf="chat && !chat.mostrar_encuesta" class="contenedor-grande"
            [ngClass]="{'conversacion-experto':chat.id_tipo_conversacion==2}">
            <mat-toolbar class="no-shadow chat-right-panel" color="basic">
              <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                <button (click)="chatnav.toggle()" class="mr-1" mat-icon-button *ngIf="isOver() || !sidePanelOpened">
                  <mat-icon>short_text</mat-icon>
                </button>
                <span class="top-avatar m-r-10">
                </span>
                <div fxFlex (click)="toggleDatosCliente(chat)" class="pointer">
                  <div class="font-14 nombre-cliente-experto" *ngIf="chat.cliente">{{chat.cliente.nombre}}
                  </div>
                </div>
                <button mat-icon-button class="ml-1" *ngIf="chat.id_tipo_conversacion==1"
                  [disabled]="chat.buscando_llamada || chat.llamada_activa" title="Iniciar Videollamada"
                  (click)="iniciarVideollamada(chat)">
                  <mat-icon>phone</mat-icon>
                </button>
                <button [matMenuTriggerFor]="them" mat-icon-button class="ml-1" *ngIf="chat.id_tipo_conversacion==1">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #them="matMenu" x-position="before">
                  <div mat-menu-item>
                    <mat-slide-toggle [color]="megna" [(ngModel)]="chat.notas_voz" (click)="$event.stopPropagation();"
                      (change)="toggleNotas(chat)">
                      Habilitar notas de voz
                    </mat-slide-toggle>
                  </div>
                  <button mat-menu-item (click)="trasnferirChat(chat)">Transferir cliente</button>
                  <button mat-menu-item (click)="chatPendiente(chat)">Dejar Pendiente</button>
                  <button mat-menu-item (click)="cerrarChat(chat)">Cerrar Chat</button>
                </mat-menu>
              </div>
            </mat-toolbar>

            <mat-card-content class="chat-middle-box contenedor-mensajes">

              <perfect-scrollbar class="contenedor" [attr.id]="chat.codigo" scrollDirective [componentRef]="este" #este
                [chat]="chat">
                <div class="informacion-detallada-cliente animated"
                  [ngClass]="{'slideInDown':chat.mostrar_datos_cliente,'slideOutUp':!chat.mostrar_datos_cliente}">
                  <mat-grid-list cols="2" rowHeight="20px">
                    <mat-grid-tile><b>Nombre:</b> {{chat.cliente.nombre}}</mat-grid-tile>
                    <mat-grid-tile><b>Correo:</b> {{chat.cliente.correo}}</mat-grid-tile>
                    <mat-grid-tile><b>Perfil:</b> {{chat.cliente.nombre_perfil}}</mat-grid-tile>
                    <mat-grid-tile><b>Rol:</b> {{chat.cliente.nombre_rol}}</mat-grid-tile>
                    <mat-grid-tile *ngIf="chat.id_tipo_conversacion!=1"><b>Estado:</b> {{chat.cliente.estado_actual_experto}}</mat-grid-tile>
                  </mat-grid-list>
                </div>
                <div class="panel-buscador-texto" *ngIf="chat.buscando_texto">
                  <div class="contenido-buscador">
                    <input type="text" placeholder="Buscar en la conversación" autofocus
                      [formControl]="chat.texto_busqueda_mensajes" />
                    <div class="cant-matches">{{chat.cant_coincidencias}}</div>
                    <button mat-icon-button title="Cerrar" (click)="chat.buscando_texto=false">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="chat-list">
                  <div class="chat-message"
                    [ngClass]="{'odd': m.id_usuario!==user.idtbl_usuario,'even': m.id_usuario===user.idtbl_usuario}"
                    *ngFor="let m of chat.mensajes | mensajesExperto: [1,usuarios]">
                    <div class="chat-block"
                      [ngClass]="{'sugerencia-activa':chat.muestra_interfaz_recomendacion,'encontrado':m.encontrado && chat.buscando_texto}">
                      <div class="panel-checkbox-sugerencia" *ngIf="chat.muestra_interfaz_recomendacion">
                        <mat-checkbox [(ngModel)]="m.mensaje_sugerido" (change)="actualizaMensajeSugerido(m)">
                        </mat-checkbox>
                      </div>
                      <div class="contendor-archivo" *ngIf="m.es_archivo || m.es_nota_voz">
                        <div *ngIf="m.es_archivo">
                          <a [href]="m.url" target="_blank">
                            <img [src]="m.url" *ngIf="m.tipo_archivo==1" />
                          </a>
                          <video [src]="m.url" controls *ngIf="m.tipo_archivo==2" class="video-experto"></video>
                          <div *ngIf="m.tipo_archivo==3" class="archivo-defecto"><a [href]="m.url" target="_blank">
                              <mat-icon>attach_file</mat-icon>
                              {{m.nombre_archivo}}
                              <span *ngIf="!m.nombre_archivo">Descargar Adjuntos</span>
                            </a></div>
                        </div>
                        <div *ngIf="m.es_nota_voz">
                          <div class="reproductor-audio" *ngIf="m.audio && m.audioControls">
                            <button mat-icon-button (click)="toggleAudio(chat,m)">
                              <mat-icon *ngIf="!m.audioControls.reproduciendo">play_arrow</mat-icon>
                              <mat-icon *ngIf="m.audioControls.reproduciendo">pause</mat-icon>
                            </button>
                            <mat-slider [max]="m.audioControls.max" [min]="m.audioControls.min" [step]="1"
                              [(ngModel)]="m.audioControls.segundo" (change)="cambiarSegundoAudio(m)">
                            </mat-slider>
                            <div class="tiempo-audio"><span>{{m.audioControls.segundo | minuteSeconds}}</span>
                            </div>
                          </div>
                          <!-- <audio [src]="m.url" preload="auto" (loadeddata)="asignarAudio(m,audio)" #audio></audio>-->
                        </div>
                      </div>

                      <div *ngIf="!m.es_nota_voz && !m.es_llamada"
                        [innerHTML]="m.texto | linkify | replaceEmojisMensaje:'google' | safe:'html'"></div>
                      <span *ngIf="m.id_usuario==user.idtbl_usuario">
                        <mat-icon class="icono-burbuja-mensaje" *ngIf="m.estado==1">access_time</mat-icon>
                        <mat-icon class="icono-burbuja-mensaje" *ngIf="m.estado==2">done</mat-icon>
                        <mat-icon class="icono-burbuja-mensaje" *ngIf="m.estado==3">done_all</mat-icon>
                      </span>
                    </div>
                    <span class="foto-mensaje" *ngIf="m.id_usuario!=user.idtbl_usuario && m.muestra_hora">
                      <img src="{{m.user.url_imagen_gsuite}}" class="img-circle" width="40" *ngIf="m.user"
                        title="{{m.user.nombre}}">
                    </span>
                    <div class="chat-date" *ngIf="m.muestra_hora">{{ m.fecha_mensaje | datechat }}</div>
                  </div>
                </div>
                <div *ngIf="chat.archivo_adjunto" class="archivo-adjunto">
                  <div class="contenedor-adjunto">
                    <div class="boton-cerrar">
                      <button mat-icon-button color="basic" class="" (click)="quitarArchivoAdjunto(chat,adjuntos)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                    <img [src]="chat.archivo_adjunto.url" *ngIf="chat.archivo_adjunto.tipo_archivo==1" />
                    <video [src]="chat.archivo_adjunto.url" *ngIf="chat.archivo_adjunto.tipo_archivo==2"></video>
                    <div *ngIf="chat.archivo_adjunto.tipo_archivo==3" class="archivo-defecto"><a
                        [href]="chat.archivo_adjunto.url" target="_blank">
                        <mat-icon>attach_file</mat-icon>
                        {{chat.archivo_adjunto.name}}
                      </a></div>
                    <button mat-icon-button color="basic" class="boton-enviar"
                      (click)="enviarMensaje(chat,2,null,null,este)">
                      <mat-icon>send</mat-icon>
                    </button>
                  </div>
                </div>
                <div *ngIf="chat.grabando_nota" class="ventana-grabacion-nota">
                  <div class="contenedor-adjunto">
                    <div class="boton-cerrar">
                      <button mat-icon-button color="basic" class="" (click)="quitarNotaVoz(chat)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                    <button mat-icon-button color="basic" class="boton-mic">
                      <mat-icon>mic</mat-icon>
                    </button>
                    <div class="cuenta-regresiva">
                      <div>{{chat.cuenta_regresiva}}</div>
                      <div>
                        <button mat-icon-button color="basic" class="boton-enviar" (click)="enviarNota(chat,este)">
                          <mat-icon>send</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="usuarios-escribiendo"
                  *ngIf="chat.usuarios_escribiendo && chat.usuarios_escribiendo.length>0">
                  <div class="usuario-escribiendo" *ngFor="let u of chat.usuarios_escribiendo">{{u.nombre}} <span
                      *ngIf="u.tipo==1">está
                      escribiendo </span><span *ngIf="u.tipo==2"> está grabando una nota de voz </span>
                    <div class="puntos-escribiendo">
                      <div class="hijo"></div>
                    </div>
                  </div>
                </div>
              </perfect-scrollbar>
              <div *ngIf="chat.llamada_activa" class="ventana-conversacion-activa">
                <div class="contenedor-llamada">
                  <div class="contenedor-icono">
                    <h3 class="boton-centrado">Recuerda grabar la llamada como soporte de la conversación</h3>
                    <img src="../../assets/images/videollamada.png" />
                    <div class="contenedor-botones">
                      <div class="contenedor-boton">
                        <a class="custom__btn custom__btn--accept" [href]="chat.url_llamada" target="_blank">Unirse a la
                          llamada</a>
                      </div>
                      <div class="contenedor-boton">
                        <button class="custom__btn custom__btn--cancel" (click)="finalizarLlamada(chat)">Finalizar
                          llamada</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div *ngIf="chat.muestra_boton_recomendacion" class="ventana-conversacion-activa">
                <div class="contenedor-llamada">
                  <div class="contenedor-icono">
                    <div class="titulo-recomendacion">
                      <div class="texto">Sugerir conversación como pregunta de la base de conocimiento?</div>
                      <button mat-button class="" (click)="sugerirPregunta(chat)">Si</button>
                      <button mat-button class="rechazar" (click)="rechazarSugerencia(chat)">No</button>
                    </div>
                  </div>
                </div>
              </div>
              <div [hidden]="chat.ocultar_nuevos_mensajes" class="boton-nuevos-mensajes"><button mat-raised-button
                  (click)="verNuevosMensajes(este,chat)" color="basic">Nuevos Mensajes</button></div>
              <div *ngIf="chat.muestra_interfaz_recomendacion" class="botonera-finalizar-recomendacion"><button
                  mat-raised-button (click)="irSugerencia(chat)" color="basic">Finalizar</button></div>
            </mat-card-content>

            <mat-card-actions class="chat-footer acciones-chat"
              *ngIf="!chat.mostrar_encuesta && !chat.muestra_interfaz_recomendacion">
              <mat-progress-bar mode="indeterminate" *ngIf="chat.cargando_archivo"></mat-progress-bar>
              <div fxLayout="row" layout-align="start center">
                <button mat-icon-button color="primary" (click)="toggleEmojis(chat)">
                  <mat-icon aria-label="Example icon-button with a heart icon">tag_faces</mat-icon>
                </button>
                <textarea autosize class="input-mensaje" placeholder="Envía un mensaje" [minHeight]="30" [disabled]="chat.cargando_archivo || chat.grabando_nota  || chat.archivo_adjunto  || chat.iniciando_grabacion"
                  (keydown.enter)="enviarMensaje(chat,1,null,$event,este)" (keydown)="escribiendo(chat,$event)"
                  (keydown.control.f)="buscarTexto(chat,$event,search)" (keyup)="remplazaEmoji(chat)"
                  [(ngModel)]="chat.texto_mensaje" (focus)="setFocus(chat,true)"
                  (blur)="setFocus(chat,false)"></textarea>
                <button mat-icon-button color="primary" (click)="adjuntos.click()"
                  [disabled]="chat.cargando_archivo || chat.grabando_nota">
                  <mat-icon aria-label="Example icon-button with a heart icon">add_photo_alternate</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="grabarNotaVoz(chat,este)"
                  [disabled]="chat.cargando_archivo || chat.grabando_nota">
                  <mat-icon aria-label="Example icon-button with a heart icon">mic</mat-icon>
                </button>
              </div>
            </mat-card-actions>
            <form [hidden]="true" #formulario method="POST" enctype="multipart/form-data" [action]="urlAdjuntos">
              <input type="file" (change)="adjuntarArchivo(chat,$event,formulario,adjuntos)" #adjuntos />
            </form>
            <emoji-mart set="google" sheetSize="64" class="emojis-panel" perLine="6" *ngIf="chat.mostrar_emojis"
              showPreview="false" (emojiSelect)="seleccionarEmoji($event,chat)"
              [i18n]="{ search: 'Buscar', categories: { search: 'resultados de la búsqueda', recent: 'Recientes' } }">
            </emoji-mart>
          </div>
          <div *ngIf="chat && chat.mostrar_encuesta" class="contenedor-grande">
            <mat-toolbar class="no-shadow chat-right-panel" color="basic">
              <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                <button (click)="chatnav.toggle()" class="mr-1" mat-icon-button *ngIf="isOver() || !sidePanelOpened">
                  <mat-icon>short_text</mat-icon>
                </button>
                <span class="top-avatar m-r-10">
                </span>
                <div fxFlex>
                  <div class="font-14 nombre-cliente-experto" *ngIf="chat.cliente">{{chat.cliente.nombre}}
                  </div>
                </div>
              </div>
            </mat-toolbar>

            <div class="contenedor-encuesta">
              <div *ngIf="chat.cerrado_inactividad" class="goodbye-message">
                <h2>{{chat.mensaje_inactividad}}</h2>
              </div>
              <app-visualizar-encuesta [tipo]="'2'" [chat]="chat" (onfinish)="finalizaEncuesta(chat)">
              </app-visualizar-encuesta>
            </div>

          </div>
          <div *ngIf="(!chat && isOver()) || (!chat && !sidePanelOpened)" class="panel-toggle-conversas">
            <button class="custom__btn custom__btn--accept" (click)="chatnav.toggle()">Mostrar Conversaciones</button>
          </div>
          <div class="contenedor-historial-buscador" *ngIf="chat && chat.id_tipo_conversacion==1">
            <div class="panel-chats primero" *ngIf="!esSupervisor">
              <div class="contenedor-titulo">
                <h3 class="titulo-historial">Historial</h3>
              </div>

              <perfect-scrollbar class="contenido">
                <mat-nav-list>
                  <mat-list-item *ngFor="let c of chat.historial">
                    <div matLine><b>ID: </b>{{c.idtbl_conversacion}} - <span [title]="c.estado">{{c.estado}}</span>
                    </div>
                    <div matLine><b>Fecha:</b> {{c.fecha_creacion | MomentDate:'YYYY-MM-DD hh:mm:ss a'}}</div>
                    <div matLine><b>Motivo Cierre:</b> <span [title]="c.motivo_cierre">{{c.motivo_cierre}}</span></div>
                    <div matLine *ngIf="c.texto_busqueda && c.texto_busqueda!=''"><b>Consulta:</b> {{c.texto_busqueda}}
                    </div>
                    <div matLine *ngIf="c.producto && c.producto!=''"><b>Categoría:</b> {{c.producto}}</div>
                  </mat-list-item>
                </mat-nav-list>
              </perfect-scrollbar>
            </div>
            <div class="panel-chats segundo" [ngClass]="{'panel-chats-supervisor':esSupervisor}">
              <app-search-component [modo]="3" [texto_buscar]="chat.busqueda_interna"></app-search-component>

            </div>

          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-card>
  </div>
</div>