<div class="general-container">
        <mat-card class="mat-card-root">
            <mat-card-content class="mat-card-content-root">
                <mat-card-title>Historial de Busquedas</mat-card-title>
                <div class="container-filter">
                    <div class="element-filter element-filter-2">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda" [(ngModel)]="filter_value">
                            <mat-icon class="search-icon">search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="element-filter element-filter-2">
                        <mat-form-field>
                            <mat-label>Tipo de busqueda</mat-label>
                            <mat-select name="tipo" (selectionChange)="filterData('tipo_busqueda', $event)">
                                <mat-option value="todos">Todos</mat-option>
                                <mat-option *ngFor="let tipo of tipos_busqueda" [value]="tipo.nombre">{{tipo.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                
    
                <div class="responsive-table">
                    <div class="container-table">
                        <mat-table [dataSource]="dataSource" matSort>
                
                            <!-- ID Column -->
                            <ng-container matColumnDef="texto_busqueda">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:35%;"> Texto Busqueda</mat-header-cell>
                                <mat-cell *matCellDef="let row" style="max-width:35%;"> {{row.texto_busqueda}} </mat-cell>
                            </ng-container>
                    
                            <!-- Progress Column -->
                            <ng-container matColumnDef="tipo_busqueda">
                                <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;"> Tipo de Busqueda </mat-header-cell>
                                <mat-cell *matCellDef="let row" style="max-width:15%;"> {{row.tipo_busqueda}} </mat-cell>
                            </ng-container>
        
                            <!-- Progress Column -->
                            <ng-container matColumnDef="fecha_busqueda">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:20%;"> Fecha de Busqueda </mat-header-cell>
                                    <mat-cell *matCellDef="let row" style="max-width:20%;"> {{row.fecha_busqueda | MomentDate:'MMM DD, YYYY HH:mm a'}} </mat-cell>
                                </ng-container>
                    
                            <ng-container matColumnDef="url">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:30%;"> Archivo </mat-header-cell>
                                    <mat-cell *matCellDef="let row" style="max-width:30%;"> 
                                        <a *ngIf="row.url && row.url != 'undefined'" href="{{row.url}}" class="link-archivo" target="_blank">ver</a>
                                    </mat-cell>
                            </ng-container>
                    
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    