.fondo {
    background: transparent !important;
}
#pagination{
    float: right;
    display: flex;
}
#pagination_pages{
    font-family:Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 20px;
    float: left;
    color: #a09f9f;
    margin-top: 10px;
}
#pagination_icon i{
    padding: 5px;
    transition: all ease 0.5s;
}

.transparente{
    background: transparent;
    border: none;
}
