<div class="general-container">
    <mat-card class="mat-card-root">
        <mat-card-content class="mat-card-content-root">
            <div class="responsive-table">

                <br>
                <a class="custom__btn custom__btn--primary" [routerLink]="['/formulario-encuestas/nuevo']"><mat-icon>add</mat-icon> Ingresar Encuesta</a>
                <br>
                <br>
                
                <div class="container-filter">
                    <div class="element-filter element-filter-3">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda">
                            <mat-icon class="search-icon">search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="element-filter element-filter-3">
                        <mat-form-field>
                            <mat-label>Tipo de Encuesta</mat-label>
                            <mat-select name="estado" (selectionChange)="filterData('id_tipo_encuesta', $event)">
                                <mat-option value="todos">Todos</mat-option>
                                <mat-option *ngFor="let tipo of tipos_encuesta" [value]="tipo.idtbl_tipo_encuesta">{{tipo.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="element-filter element-filter-3">
                        <mat-form-field>
                            <mat-label>Estado</mat-label>
                            <mat-select name="estado" (selectionChange)="filterData('activo', $event)">
                                <mat-option value="todos">Todos</mat-option>
                                <mat-option value="1">Activo</mat-option>
                                <mat-option value="0">Inactivo</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                
                <mat-table [dataSource]="dataSource" matSort>
            
                    <!-- ID Column -->
                    <ng-container matColumnDef="idtbl_encuesta">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:10%;"> ID </mat-header-cell>
                        <mat-cell *matCellDef="let row" style="max-width:10%;"> {{row.idtbl_encuesta}} </mat-cell>
                    </ng-container>
            
                    <!-- Progress Column -->
                    <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:40%;"> Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let row" style="max-width:40%;"> {{row.nombre}} </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="id_tipo_encuesta">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:35%;"> Tipo de Encuesta </mat-header-cell>
                        <mat-cell *matCellDef="let row" style="max-width:35%;">
                            <span *ngIf="row.id_tipo_encuesta == 1">Usuario</span> 
                            <span *ngIf="row.id_tipo_encuesta == 2">Experto</span>
                        </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="activo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:30%;"> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let row" style="max-width:30%;">
                            <span *ngIf="row.activo == 1">Activo</span> 
                            <span *ngIf="row.activo != 1">Inactivo</span>
                        </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="acciones">
                        <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:20%;"> Acciones </mat-header-cell>
                        <mat-cell *matCellDef="let row" style="max-width:20%;">
                            <i class="ti-pencil info-color m-r-10 mouse-over" (click)="editarRegistro(row)"></i>
                            <i class="ti-check success-color m-r-10 mouse-over" (click)="activarEncuesta(row)"></i>
                        </mat-cell>
                    </ng-container>
            
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
            
                <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
    
</div>
