<div id="search-bar" class="up">
  <span><img src="../../assets/images/Lupa.svg" (click)="buscar()" alt="icone de recherche" width="35px"
      class="img_lupa"></span>
  <div class="image-upload">
    <label for="file-input">
      <i class="fa fa-camera archivo tooltip-container" aria-hidden="true"> <span class="tooltip">Buscar por
          imágenes</span></i>
    </label>
    <input id="file-input" (change)="onFileSelected($event)" type="file" />
  </div>

  <i id="microphone-icon" class="fa fa-microphone microfono tooltip-container" aria-hidden="true"
    (click)="startButton($event)"><span id="voice-search" class="tooltip">Búsqueda por
      voz</span></i>

  <div class="ng-autocomplete">
    <ng-autocomplete id="ng-autocomplete-search" placeHolder="Describe tu problema. " [data]="textopredictivo"
      [searchKeyword]="keyword" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
      [itemTemplate]="itemTemplate" [formControl]="def" [notFoundTemplate]="notFoundTemplate" (inputCleared)="clearOptions()" #autocomplete>
    </ng-autocomplete>


    <ng-template #itemTemplate let-item id="value-text">
      <a [innerHTML]="item.title"></a>
    </ng-template>

    <!-- <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="textError"></div>
        </ng-template> -->
  </div>
  <div>
    <div *ngFor="let data of dataImage ; let i = index" style="display: inline-block">
      <div (click)="selectLabel(data,i)" class="labelImage">{{ data }}</div>
    </div>
  </div>
</div>