<div id="search-bar" class="up">
  <span><img src="../../assets/images/Lupa.svg" (click)="buscar(1)" alt="icone de recherche" width="35px"
      class="img_lupa"></span>
  <div class="image-upload">
    <label for="file-input">
      <mat-icon class="archivo">photo_camera</mat-icon>
    </label>
    <input id="file-input" (change)="onFileSelected($event)" type="file" />
  </div>
  <mat-icon (click)="startButton($event)" class="microfono">mic</mat-icon>
  <div class="ng-autocomplete">
    <ng-autocomplete id="ng-autocomplete-search" placeHolder="{{search_placeholder}}" [data]="textopredictivo"
      [searchKeyword]="keyword" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
      [itemTemplate]="itemTemplate" [formControl]="def" [notFoundTemplate]="'notFound'" (inputCleared)="clearOptions()"
      #autocomplete>
    </ng-autocomplete>


    <ng-template #itemTemplate let-item id="value-text">
      <a [innerHTML]="item.title"></a>
    </ng-template>

    <!-- <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="textError"></div>
        </ng-template> -->
  </div>
  <div>
    <div *ngFor="let data of dataImage ; let i = index" style="display: inline-block">
      <div (click)="selectLabel(data,i)" class="labelImage">{{ data }}</div>
    </div>
  </div>
</div>