<div class="search-bar" [ngClass]="{'barra-superior':modo==1,'barra-izquierda':modo==2,'up':!modo}">
  <span>
    <mat-icon class="buscar-lupa">search</mat-icon>
  </span>
  <div class="image-upload">
    <label for="file-input">
      <mat-icon class="archivo">photo_camera</mat-icon>
    </label>
    <input id="file-input" (change)="onFileSelected($event)" type="file" />
  </div>
  <mat-icon (click)="iniciarReconocimientoVoz($event)" id="microphone-icon" class="microfono" *ngIf="recognition"
    [ngClass]="{'escuchando':recognizing}">
    mic</mat-icon>
  <div class="ng-autocomplete">
    <!--<ng-autocomplete id="ng-autocomplete-search" placeHolder="{{search_placeholder}}" [data]="sugerencias"
      (selected)='selectEvent($event)' (keydown.enter)="buscar(1)" [formControl]="def" [notFoundTemplate]="'No hay resultados'"
      (inputCleared)="clearOptions()" #autocomplete>
    </ng-autocomplete>
  -->
    <mat-form-field class="caja-buscador">
      <div class="contenido" *ngIf="texto_sugerido">{{texto_sugerido}}</div>
      <input type="text" [placeholder]="search_placeholder" matInput (keydown.enter)="buscar(1)" [formControl]="def"
        (keydown.Tab)="completarTexto($event)" [matAutocomplete]="auto" autocomplete="off">
      <button mat-button *ngIf="def.value" matSuffix mat-icon-button aria-label="Clear" (click)="def.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectEvent($event.option.value)'>
        <mat-option *ngFor="let option of sugerencias" [value]="option">
          {{option.suggestedQuery}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>



    <ng-template #itemTemplate let-item id="value-text">
      <a [innerHTML]="item.title"></a>
    </ng-template>

    <!-- <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="textError"></div>
        </ng-template> -->
  </div>
  <div>
    <div *ngFor="let data of dataImage ; let i = index" style="display: inline-block">
      <div (click)="selectLabel(data,i)" class="labelImage">{{ data }}</div>
    </div>
  </div>
</div>