<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container" [dir]="dir"
    [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'dark': dark }">
    <!-- ============================================================== -->
    <!-- Topbar - style you can find in header.scss -->
    <!-- ============================================================== -->
    <mat-toolbar color="primary" class="topbar telative">
        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- sidebar toggle -->
        <!-- ============================================================== -->

        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
            <mat-icon class="gris-icon">menu</mat-icon>
        </button>
        <!-- ============================================================== -->
        <!-- Search - style you can find in header.scss -->
        <!-- ============================================================== -->
        <span class="comunidad_titulo" (click)="irHome()">Conecta</span>
        <span fxFlex></span>

        <!--button mat-icon-button class="m-r-10">
            <img src="../../../../assets/images/sos.png" alt="" class="sos">
            <div class="notify">
                <span class="heartbit"></span>
                <span class="point"></span>
            </div>
        </button-->
        
        <button mat-icon-button class="m-r-10" (click)="end.toggle();leerNotificaciones()">
            <img src="../../../../assets/images/siren.png" alt="" class="alerta">
            <div class="notify">
                <span *ngIf="notificaicones_sin_leer > 0" class="heartbit-notificaciones"></span>
                <span *ngIf="notificaicones_sin_leer > 0" class="point-notificaciones" matBadge="{{notificaicones_sin_leer}}" matBadgeColor="warn" matBadgeOverlap="false"></span>
            </div>
        </button>
        
        
        <!-- ============================================================== -->
        <!-- app header component - style you can find in header.scss / header.component.ts-->
        <!-- ============================================================== -->
        <app-header></app-header>
        <!-- ============================================================== -->
        <!-- Right sidebar toggle - style you can find in rightsidebar.component.scss -->
        <!-- ============================================================== -->
        <!--button (click)="end.toggle()" mat-icon-button class="ml-xs overflow-visible">
            <mat-icon>settings</mat-icon>
        </button-->

    </mat-toolbar>
    <!-- ============================================================== -->
    <!-- End Topbar - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
        [ngClass]="{'minisidebar': minisidebar}">
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        <mat-sidenav class="sidenav-menu" #snav id="snav" class="pl-xs" [mode]="'over'" fixedTopGap="0" [opened]="false"
            (open)="sidebarOpened = true" (close)="sidebarOpened = false" [perfectScrollbar]="config">

            <app-sidebar class="app-sidebar" (cerrado)="cerrarMenu()"></app-sidebar>

        </mat-sidenav>
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar - style you can find in rightsidebar.component.scss -->
        <!-- ============================================================== -->
        <mat-sidenav #end position="end" class="chat-panel" mode="'over'" opened="false">
            <div class="vision-notificacion">
                <h3>Notificaciones</h3>
                
                <div *ngFor="let notificacion of notificaciones_usuario" [ngClass]="{ 'notificacion-nueva': notificacion.leida == 0 }">
                    <mat-divider></mat-divider>                    
                    <div class="titulo-notificacion">
                        <h4>{{notificacion.titulo}}</h4>
                    </div>
                    <div class="fecha-notificacion">
                        <span>{{notificacion.fecha_inicio | MomentDate:'YYYY-MM-DD'}}</span>
                    </div>
                    <div class="texto-notificacion">
                        <span>
                            {{notificacion.texto}}
                        </span>
                    </div>

                    <div class="imagen-centrada">
                        <img src="{{notificacion.url_adjunto}}"
                            class="imagen-notificacion" *ngIf="notificacion.url_adjunto">
                    </div>
                    <mat-divider></mat-divider>
                </div>

            </div>

            <!--div class="scroll">
                <mat-nav-list>

                    <h3 mat-subheader class="text-uppercase font-weight-bold">Settings</h3>
                    <mat-list-item>
                        <mat-slide-toggle color="warn" (change)="dir = (dir == 'rtl' ? 'ltr' : 'rtl')">RTL
                        </mat-slide-toggle>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-slide-toggle color="warn" [(ngModel)]="boxed">Boxed Layout</mat-slide-toggle>
                    </mat-list-item>
                    
                    <mat-divider></mat-divider>
                    <h3 mat-subheader class="text-uppercase font-weight-bold">Colors</h3>
                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="danger" (change)="green = blue = false"
                            class="danger-color">Red</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="green" (change)="danger = blue = false"
                            class="text-megna">Teal
                            Green</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="blue" (change)="green = danger = false"
                            class="info-color">Blue</mat-checkbox>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-checkbox color="warn" [(ngModel)]="dark" (change)="green = blue = danger = false">Dark
                        </mat-checkbox>
                    </mat-list-item>
                </mat-nav-list>
            </div-->
        </mat-sidenav>

        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-content class="page-wrapper">

            <div class="page-content">

                <router-outlet>
                    <app-spinner></app-spinner>
                </router-outlet>

            </div>

        </mat-sidenav-content>
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
    </mat-sidenav-container>
</div>