.piechart {
  height: 300px;
  width: 280px;
  margin: 0 auto;
}

.panel-respuestas {
  margin-top: 10px;
}

.spinner-cargando-flujo {
  display: flex;
  margin-top: 20px;

  .mat-progress-spinner {
    margin: auto;
  }
}