<div>
    <mat-form-field class="example-ripple-form-field">
        <input matInput [(ngModel)]="nombres" type="text" placeholder="Nombres">
    </mat-form-field>
    <mat-form-field class="example-ripple-form-field">
        <input matInput [(ngModel)]="apellidos" type="text" placeholder="Apellidos">
    </mat-form-field>
    <mat-form-field class="example-ripple-form-field">
        <input matInput [(ngModel)]="email" type="email" placeholder="E-mail">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="sugerencia" maxlength="256" placeholder="Sugerencia">
        <mat-hint align="start"><strong>Describenos tu sugerencia</strong> </mat-hint>
        <mat-hint align="end">{{sugerencia.length}}/ 256</mat-hint>
    </mat-form-field>
</div>
<br>
<br>
<div class="button__aling">
    <button mat-button style="color: blue">Enviar</button>
</div>
<div class="btn__contenedor">
    <img src="../../../assets/images/logo-davivienda.png" alt="davivienda" class="davivienda_logo">
</div>