<div>
  <div *ngIf="resultado">
    <h2>Resultados de la búsqueda de <b>{{busqueda}}</b></h2>
    <h2 *ngIf="ortografia">Quizas quisiste decir: <b>{{busquedaCorregida | highlight:valorBusqueda}}</b></h2>
    <mat-card *ngFor="let busqueda of resultadosBus">
      <mat-card-header>
        <div mat-card-avatar>
          <!-- <img src="assets/categorias/{{busqueda.categoria}}.png" class="img-fluid img-circle" /> -->
          <img src="assets/categorias/aperturas.png" class="img-fluid img-circle" />
        </div>
        <div mat-card-avatar>
          <!-- <img src="assets/origen/{{busqueda.origen}}.png" class="img-fluid img-circle" /> -->
          <img src="assets/origen/drive.png" class="img-fluid img-circle" />
        </div>
        <mat-card-title><b><div [innerHTML]="busqueda.htmlTitle"></div></b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div [innerHTML]="busqueda.htmlSnippet"></div>
      </mat-card-content>
      <figure *ngIf="busqueda.imagen !== '' && busqueda.imagen != null">
        <img alt="preguntas" src="{{busqueda.imagen}}" class="center" />
      </figure>
    </mat-card>
  </div>
  <div *ngIf="resultado == false">
    <h3>No hemos encontrado ninguna respuesta que coincida con <b>{{busqueda}}</b> en Conecta Soporte. </h3>
    <div>
      <h4>Sugerencias:</h4>
      <ul>
        <li>Comprueba que todas las palabras estén bien escritas.</li>
        <li>Intenta usar otras palabras clave.</li>
        <li>Reformula tu pregunta.</li>
      </ul>
    </div>
  </div>
</div>