<div class="fondo">
    <div class="img__logo down">
      <img src="https://storage.googleapis.com/archivos-estaticos-aplicacion/logo.png" alt="imagen" class="img_small">
    </div>
    <div class="texto__principal down">
      <h2 class="text_center texto_gris"><b>{{texto_home}}</b></h2>
    </div>
    <app-search-component></app-search-component>    
    <div class="historial__contenedor up">
    </div>
    <!--label for="darkTheme">Dark Theme</label>
    <input id="darkTheme" type="checkbox" [formControl]="darkTheme"-->
  </div>
