$border-separador: 1px solid #e4e4e4;

.consola-supervisor {
    padding: 15px;

    .conversacion-lista {
        //max-width: 300px;
        float: left;

        margin: 5px !important;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        display: block;
        position: relative;
        padding: 16px;
        border-radius: 4px;
        width: 352px;
        height: 136px;

        &:hover {
            /*transform: translateY(-3px);*/
        }

        .header-image {
            background-size: cover;
        }

        &.ver-conversacion {
            max-width: 100%;
            width: 500px;
            height: auto;
        }



        .icono-llamda {
            width: 22px !important;
            height: 22px !important;
            margin-right: 10px;
        }

        .contenedor-filas {
            height: 200px;
            padding: 0;
            overflow: hidden;
            width: 100%;
            flex: 0 1 auto;
            border-top: $border-separador;
            border-bottom: $border-separador;
        }

        .contenedor-mensajes {
            height: 350px;
            padding: 0;
            overflow: hidden;
            width: 100%;
            flex: 0 1 auto;
            border-top: $border-separador;
            border-bottom: $border-separador;

            .tiempo-audio {
                font-size: 11px;
                color: #757575;
                position: absolute;
                /* bottom: 69px; */
                left: 41px;
                height: 0px;
                text-decoration: none !important;
                top: 32px;
            }

            .ventana-conversacion-activa {
                width: 100%;
                height: calc(100% - 191px) !important;
                background: transparent;
                position: absolute;
                bottom: 0px;
                text-align: center;
                height: 188px;
                display: flex;
                z-index: 101;
                top: 138px;
                left: 0;
                right: 0;
                pointer-events: none;
            }

            .contenedor {
                height: 100%;

                .chat-list {
                    padding: 0 3px;
                    margin-top: 5px;
                    margin-bottom: 0;
                    padding-right: 11px;
                    display: block;

                    .chat-block {
                        text-align: right !important;
                        display: inline-block;
                        padding: 3px 8px;
                        font-size: 13px;
                        margin: 1px 0;

                        &.alamra-nlp {
                            color: white;
                            animation: alarma-nlp 10s infinite;
                        }
                    }

                    .chat-message {
                        width: 100%;
                        position: relative;
                    }

                    .foto-mensaje {
                        position: absolute;
                        bottom: 15px;

                        img {
                            width: 30px;
                            margin-left: 3px;
                        }
                    }


                    .odd {
                        .chat-block {
                            background-color: #dcdcdc;
                            text-align: left !important;
                            max-width: 80%;
                            position: relative;
                        }
                    }

                    .even {
                        text-align: right;

                        .chat-block {
                            text-align: left !important;
                            display: inline-block;
                            padding: 3px 8px;
                            padding-right: 23px;
                            padding-bottom: 4px;
                            position: relative;
                            max-width: 80%;

                        }
                    }

                    .chat-date {
                        width: 100%;
                        font-size: 11px;
                    }
                }


            }
        }
    }

    .punt-estado-chat {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: 43px;
        /* bottom: 0px; */
        border: 1px solid #e4e4e4;
        top: 40px;

        &.green {
            background-color: #35ac19;
        }

        &.orange {
            background-color: orange;

            &::after {
                content: "";
                position: absolute;
                height: 25px;
                width: 25px;
                border: 5px solid #f3b100;
                border-radius: 70px;
                left: -13px;
                bottom: -13px;
                -webkit-animation: heartbit 1s ease-out infinite;
                animation: heartbit 1s ease-out infinite;
            }
        }

        &.red {
            background-color: red;

            &::after {
                content: "";
                position: absolute;
                height: 25px;
                width: 25px;
                border: 5px solid red;
                border-radius: 70px;
                left: -13px;
                bottom: -13px;
                -webkit-animation: heartbit 1s ease-out infinite;
                animation: heartbit .7s ease-out infinite;
            }
        }

        &.gris {
            background-color: #e4e4e4;
        }
    }

    .chat-alarma-nlp {
        width: 33px;
        height: 2px;
        position: absolute;
        left: 16px;
        top: 56px;
        background-color: red;
    }

    .tiempo-conversa {
        position: absolute;
        left: 14px;
        top: 60px;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
    }

    .panel-consola-chat {
        width: 100%;
        height: calc(100vh - 144px);
    }

    .panel-analitica {
        width: 100%;
        height: calc(100vh - 144px);

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.loading-filter {
    position: relative;
    left: 40%;
}