<mat-card class="contenido">
  <mat-card-content class="contenido-interno">
    <perfect-scrollbar>
      <div class="mensajes-historial-curaduria">
        <ul class="timeline">
          <li *ngFor="let comentario of comentarios; let i = index" [ngClass]="{'timeline-inverted':i%2 === 0}">
            <div class="timeline-badge success">
              <img class="img-responsive" alt="user" src="{{comentario.imagen}}" alt="img"> </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">{{comentario.nombre_usuario}}</h4>
                <small class="text-muted">
                  <i class="fa fa-clock-o"></i>{{comentario.fecha | MomentDate:'MMM DD, YYYY hh:mm a'}}</small>
              </div>
              <div class="timeline-body">
                {{comentario.notas}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </mat-card-content>
  <div class="formulario-historial">
    <mat-form-field>
      <textarea matInput placeholder="Nuevo Comentario" name="notas" [(ngModel)]="nota" matAutosizeMinRows=1
        matAutosizeMaxRows=10></textarea>
    </mat-form-field>
    <div fxLayout="row wrap">
      <div fxFlex="90" fxLayoutAlign="space-between center" class="responsive-btn">
        <button fxFlex="45" class="custom__btn custom__btn--accept" (click)="guardarComentario()">Comentar</button>
      </div>
    </div>
  </div>
</mat-card>