<div class="general-container">
    <mat-card class="mat-card-root">
        <mat-card-content class="mat-card-content-root">
            <mat-card-title>Administrador de Notificaciones</mat-card-title>

            <a class="custom__btn custom__btn--primary" [routerLink]="['/formulario-notificaciones/nuevo']">
                <mat-icon>add</mat-icon> Crear Notificación
            </a>
            <br>
            <br>

            <div class="container-filter">
                <div class="element-filter element-filter-2">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda">
                        <mat-icon class="search-icon">search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="element-filter element-filter-2">
                    <mat-form-field>
                        <mat-label>Activo</mat-label>
                        <mat-select name="estado" (selectionChange)="filterData('activo', $event)">
                            <mat-option value="todos">Todos</mat-option>
                            <mat-option value="1">Activa</mat-option>
                            <mat-option value="0">Inactiva</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="responsive-table">
                <div class="container-table">
                    <mat-table [dataSource]="dataSource" matSort>

                        <!-- ID Column -->
                        <ng-container matColumnDef="idtbl_notificacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:10%;"> ID
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:10%;"> {{row.idtbl_notificacion}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="usuario">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:35%;"> Usuario
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:35%;"> {{row.usuario}} </mat-cell>
                        </ng-container>
                        <!-- Progress Column -->
                        <ng-container matColumnDef="titulo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:35%;"> Titulo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:35%;"> {{row.titulo}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="contenido">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:35%;"> Contenido
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:35%;"> {{row.contenido}} </mat-cell>
                        </ng-container>


                        <!-- Progress Column -->
                        <ng-container matColumnDef="fecha_publicacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:35%;"> Fecha Publicación
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:35%;">
                                {{row.fecha_publicacion | MomentDate:'YYYY-MM-DD'}} </mat-cell>
                        </ng-container>


                        <!-- Progress Column -->
                        <ng-container matColumnDef="fecha_creacion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:35%;"> Fecha Creación
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:35%;">
                                {{row.fecha_creacion | MomentDate:'YYYY-MM-DD'}} </mat-cell>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="activo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:35%;"> Activo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:35%;">
                                <span *ngIf="row.activo == 1">Activa</span>
                                <span *ngIf="row.activo == 0">Inactiva</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:15%;"> Acciones
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="max-width:15%;">
                                <i *ngIf="row.activo == 1" class="ti-close danger-color m-r-10 mouse-over"
                                    title="Cancelar Notificación" (click)="cancelarNotificacion(row)"></i>
                                <i *ngIf="row.activo == 1" class="ti-pencil info-color m-r-10 mouse-over"
                                    title="Editar Notificación" (click)="editarNotificacion(row)"></i>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>
                </div>
                <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>