<div class="general-container">
  <mat-card class="mat-card-root">
    <mat-card-content class="mat-card-content-root">
      <h3>Roles</h3>
      <div class="container-filter">
        <div class="element-filter element-filter-1">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar busqueda">
            <mat-icon class="search-icon">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="responsive-table">
        <div class="container-table">
          <mat-table [dataSource]="dataSource" #sort="matSort" matSort>



            <!-- Progress Column -->
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="max-width-70"> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let row" class="max-width-70"> {{row.nombre}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sos">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="max-width-35">Tiene Botón SOS </mat-header-cell>
              <mat-cell *matCellDef="let row" class="max-width-35">
                <mat-form-field>

                  <mat-select [(ngModel)]="row.boton_sos" (selectionChange)="guardarRol(row)">
                    <mat-option [value]="1">
                      Si
                    </mat-option>
                    <mat-option [value]="0">
                      No
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        </div>
        <mat-paginator #paginador [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
      <h3>Perfiles</h3>
      <div class="container-filter">
        <div class="element-filter element-filter-1">
          <mat-form-field>
            <input matInput (keyup)="applyFilterp($event.target.value)" placeholder="Filtrar busqueda">
            <mat-icon class="search-icon">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="responsive-table">
        <div class="container-table">
          <mat-table [dataSource]="dataSourcep" #sortp="matSort" matSort>



            <!-- Progress Column -->
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="max-width-70"> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let row" class="max-width-70"> {{row.nombre}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sos">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="max-width-35">Tiene Botón SOS </mat-header-cell>
              <mat-cell *matCellDef="let row" class="max-width-35">
                <mat-form-field>

                  <mat-select [(ngModel)]="row.boton_sos" (selectionChange)="guardarPerfil(row)">
                    <mat-option [value]="1">
                      Si
                    </mat-option>
                    <mat-option [value]="0">
                      No
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        </div>
        <mat-paginator #paginadorp [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>